<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
</head>

<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/essaim/'+${essaim.id}}" th:text="#{essaim} + ' ' + ${essaim.nom}"></a>
					<th:block th:text="#{sep}+#{histoRucheRucher}"></th:block>
				</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid table-responsive">
		<table class="table table-sm table-bordered">
			<thead>
				<tr>
					<th th:text="#{date}"></th>
					<th th:text="#{type}"></th>
					<th th:text="#{ruche}"></th>
					<th th:text="#{rucher}"></th>
					<th th:text="#{Duree}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="eve : ${evensEssaimAjout}">
					<td><a th:text="${#temporals.format(eve.date, 'yyyy/MM/dd HH:mm')}"
							th:href="@{'/evenement/'+${eve.id}}"></a></td>
					<td th:text="#{${eve.type}}"></td>
					<td><a th:text="${eve.ruche?.nom}" th:href="@{'/ruche/'+${eve.ruche?.id}}"></a></td>
					<td><a th:text="${eve.rucher?.nom}" th:href="@{'/rucher/'+${eve.rucher?.id}}"></a></td>
					<td th:text="${durees[eveStat.index]}"></td>
				</tr>
		</table>
	</div>
	<footer th:replace="~{include::footer}"></footer>
</body>

</html>