<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:replace="~{include :: jsruches}"></script>
<script th:inline="javascript">
	/* exported Essaims,buttontextprint,buttontextcol,urlTraitLot,urlSucreLot,urlCommLot,urlCadreLot,
	urlDispLot,urlMarkLot,selectEssTrt,	evComm, evSucre, evTrait, evCadre, disp, marq */
	const Essaims = /*[[#{Essaims}]]*/null;
	const buttontextprint = /*[[#{buttontextprint}]]*/null;
	const buttontextcol = /*[[#{buttontextcol}]]*/null;
	const urlTraitLot = /*[[@{/evenement/essaim/traitementLot/}]]*/null;
	const urlSucreLot = /*[[@{/evenement/essaim/sucreLot/}]]*/null;
	const urlCommLot = /*[[@{/evenement/essaim/commentaireLot/}]]*/null;
	const urlCadreLot = /*[[@{/evenement/essaim/cadreLot/}]]*/null;
	const urlDispLot = /*[[@{/evenement/essaim/dispersionLot/}]]*/null;
	const urlMarkLot = /*[[@{/evenement/essaim/marquageLot/}]]*/null;
	const selectEssTrt = /*[[#{selectessaimstraiter}]]*/null;
	const evComm = /*[[#{evenementsCommentaire}]]*/null;
	const evSucre = /*[[#{evenementsSucre}]]*/null;
	const evTrait = /*[[#{evenementsTraitement}]]*/null;
	const evCadre = /*[[#{evenementsCadres}]]*/null;
	const marq = /*[[#{Marquer}]]*/null;
	const disp = /*[[#{Disperser}]]*/null;
</script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:text="#{Essaims}"></h1>
			</div>
			<div class="col">
				<a id="cree" th:href="@{/essaim/cree}" class="bi-plus-lg"
					th:title="#{ajouterEssaim}" aria-hidden="true"></a> &nbsp; <a
					id="commentaire" href="#" class="selection bi-chat-text"
					th:title="#{evenementsCommentaire}" aria-hidden="true"></a> <a
					id="sucre" href="#" class="selection bi-bucket"
					th:title="#{evenementsSucre}" aria-hidden="true"></a> <a
					id="traitement" href="#" class="selection bi-bug"
					th:title="#{evenementsTraitement}" aria-hidden="true"></a> <a
					id="cadre" href="#" class="selection bi-layout-three-columns"
					th:title="#{evenementsCadres}" aria-hidden="true"></a> &nbsp; <a
					id="dispersion" href="#" class="selection bi-box-arrow-up-left"
					th:title="#{Disperser}" aria-hidden="true"></a> <a id="marquage"
					href="#" class="selection bi-brush" th:title="#{Marquer}"
					aria-hidden="true"></a> &nbsp; <a
					th:href="@{/essaim/statistiques?masquerInactif=on}"
					class="bi-table" th:title="#{statistiquesproduction}"
					aria-hidden="true"></a> <a th:href="@{/essaim/statistiquesage}"
					class="bi-bar-chart" th:title="#{statistiquesage}"
					aria-hidden="true"></a> &nbsp; <a
					th:href="@{'/essaim/grapheEssaims'}" class="bi-graph-up"
					th:title="#{GrapheNbEssaims}" aria-hidden="true"></a> <a
					id="descend" th:href="@{/essaim/descendance}" class="bi-diagram-3"
					th:title="#{Descendance}" aria-hidden="true"></a>

			</div>
		</div>
	</div>
	<div class="container-fluid">
		<table class="table table-bordered table-striped table-sm"
			id="essaims">
			<thead>
				<tr>
					<th rowspan="2" th:text="#{nom}"></th>
					<th rowspan="2" th:text="#{ruche}"></th>
					<th rowspan="2" th:text="#{rucher}"></th>
					<th:block th:if="${session.voirInactif}">
						<th rowspan="2" th:text="#{actif}"></th>
						<th rowspan="2" th:text="#{dateDispersion}"></th>
						<th rowspan="2" th:text="#{commDisp}"></th>
					</th:block>
					<th rowspan="2" th:text="#{dateAcquisition}"></th>
					<th rowspan="2" th:text="#{origine}"></th>
					<th colspan="3" th:text="#{Reine}" style="text-align: center"
						data-dt-order="disable"></th>
					<th rowspan="2" th:text="#{souche}"></th>
					<th rowspan="2" th:text="#{ag}" th:title="#{agressivite}"></th>
					<th rowspan="2" th:text="#{pr}" th:title="#{proprete}"></th>
					<th rowspan="2" th:text="#{nbCadres}" th:title="#{nbCadres}"></th>
					<th rowspan="2" th:text="#{commentaire}"></th>
				</tr>
				<tr>
					<th th:text="#{marque}"></th>
					<th th:text="#{couleur}"></th>
					<th th:text="#{naissance}"></th>
				</tr>
			</thead>
			<tbody th:with="f='dd/MM/yyyy'">
				<tr th:each="eRRr, i : ${EssaimsRRr}"
					th:with="ec=${listeEvenCadre[i.index]}">
					<td><a th:href="@{'/essaim/'+${eRRr.essaim.id}}"
						th:text="${eRRr.essaim.nom}"></a></td>
					<td><a th:href="@{'/ruche/'+ ${eRRr.idRuche}}"
						th:text="${eRRr.nomRuche}"></a></td>
					<td><a th:href="@{'/rucher/'+ ${eRRr.idRucher}}"
						th:text="${eRRr.nomRucher}"></a></td>
					<th:block th:if="${session.voirInactif}">
						<td th:text="${eRRr.essaim.actif}?#{oui}:#{non}"></td>
						<td
							th:text="${eRRr.essaim.actif ? '' : #temporals.format(eRRr.essaim.dateDispersion, 'yyyy/MM/dd')}">
						</td>
						<td th:text="${eRRr.essaim.actif ? '' : eRRr.essaim.commDisp}"></td>
					</th:block>
					<td th:text="${eRRr.essaim.dateAcquisition}"></td>
					
					<td th:if="${eRRr.essaim.origine}" th:text="${eRRr.essaim.origine}"></td>
					<td th:unless="${eRRr.essaim.origine}"></td>
					
					<td th:text="${eRRr.essaim.reineMarquee}? #{oui} : #{non}"></td>
					<td th:text="#{${eRRr.essaim.reineCouleurMarquage}}"></td>
					<td th:text="${eRRr.essaim.reineDateNaissance}"></td>
					<td><a th:href="@{'/essaim/'+${eRRr.essaim.souche?.id}}"
						th:text="${eRRr.essaim.souche?.nom}"></a></td>
					<td th:text="${eRRr.essaim.agressivite}"></td>
					<td th:text="${eRRr.essaim.proprete}"></td>
					<td class="num"
						th:text="${ec == null}?'':${#numbers.formatInteger(ec.valeur,2)}+' '+${#temporals.format(ec.date, f)}+' '+${ec.commentaire}">
					</td>
					<td th:text="${eRRr.essaim.commentaire}"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th th:text="#{nom}"></th>
					<th th:text="#{ruche}"></th>
					<th th:text="#{rucher}"></th>
					<th:block th:if="${session.voirInactif}">
						<th th:text="#{actif}"></th>
						<th th:text="#{dateDispersion}"></th>
						<th th:text="#{commDisp}"></th>
					</th:block>
					<th th:text="#{dateAcquisition}"></th>
					<th th:text="#{marque}"></th>
					<th th:text="#{couleur}"></th>
					<th th:text="#{naissance}"></th>
					<th th:text="#{souche}"></th>
					<th th:text="#{ag}"></th>
					<th th:text="#{pr}"></th>
					<th th:text="#{nbCadres}"></th>
					<th th:text="#{commentaire}"></th>
				</tr>
			</tfoot>
		</table>
	</div>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>