<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:replace="~{include :: jsChart}"></script>
<script th:replace="~{include :: d3-color}"></script>
<script th:replace="~{include :: d3-interpolate}"></script>
<script th:replace="~{include :: d3-scale-chromatic}"></script>
<script th:replace="~{include :: jsruches}"></script>
<script th:inline="javascript">
	/* exported agesHisto, pas, ageDesReines, nbReinesTotal, Reines
	 */
	const pas = /*[[${pas}]]*/null;
	const agesHisto = /*[[${agesHisto}]]*/null;
	const ageDesReines = /*[[#{ageDesReines}]]*/null;
	const nbReinesTotal = /*[[#{nbReinesTotal}]]*/null;
	const Reines = /*[[#{Reines}]]*/null;
</script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col col-5">
				<h1 class="item">
					<a th:href="@{'/essaim/liste'}" th:text="#{Essaims}"></a>
					<th:block th:text="#{sep}+#{ageDesReines}"></th:block>
				</h1>
			</div>
			<div class="col col-5">
				<span
					th:text="#{Min} + ' ' + ${ageMinJours} + ', ' +
							#{Max} + ' ' + ${ageMaxJours} + ', ' +
							#{Moyenne} + ' ' + ${ageMoyenJours} + ', ' +
							#{EcartType} + ' ' + ${ageVarianceJours} + ' ' + #{jours}"></span>
			</div>
			<div class="col col-2">
				<form action="#" th:action="@{/essaim/statistiquesage}" method="get"
					id="ageReinesForm">
					<select class="form-control" id="pas" name="pas">
						<option th:each="i: ${#numbers.sequence(4, 10)}" th:value="${i}"
							th:text="${i}" th:selected="${i==pas}"></option>
					</select> <label for="pas">Pas(mois)</label>
				</form>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<canvas id="ctx"></canvas>
	</div>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>