<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:replace="~{include :: jsruches}"></script>
<script th:replace="~{include :: jsdatetimepicker}"></script>
<link th:replace="~{include :: cssdatetimepicker}">
<script th:replace="~{include :: localejsdatetimepicker}"></script>
<script th:inline="javascript">
	/* exported doitEtreSupA, dateFirst, timeFirst, ruche, ruchesource, ruchetxt,
	  lEssaim, essaimtxt, essaim, resteEnPlace, estDeplace, videDansLeRuher, dansLeRucher */
	const doitEtreSupA = /*[[#{doitEtreSupA}]]*/null;
	const dateFirst = /*[[${dateFirst}]]*/null;
	const timeFirst = /*[[${timeFirst}]]*/null;
	const ruche = /*[[${ruche}]]*/null;
	const ruchesource = /*[[${rucheSource}]]*/null;
	const ruchetxt = /*[[#{ruche}]]*/null;
	const lEssaim = /*[[#{Lessaim}]]*/null;
	const essaimtxt = /*[[#{essaim}]]*/null;
	const essaim = /*[[${essaim}]]*/null;
	const resteEnPlace = /*[[#{resteEnPlace}]]*/null;
	const estDeplace = /*[[#{estDeplace}]]*/null;
	const videDansLeRuher = /*[[#{videDansLeRuher}]]*/null;
	const dansLeRucher = /*[[#{dansLeRucher}]]*/null;
</script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/essaim/associe/'+${essaimId}}"
						th:text="#{association}+' '+#{essaim}+' '+${essaim.nom}"></a>
					<th:block th:text="#{sep}+#{ruche}+' '+${ruche.nom}"></th:block>
				</h1>
			</div>
		</div>
		<div th:if="${ruche.essaim}" class="row">
			<div class="col">
				<h1 class="item" style="color: red;"
					th:text="#{AttentionDipersion(${ruche.essaim.nom})}"></h1>
			</div>
		</div>
		<div class="row" th:if="${ruche.essaim}"
			th:text="#{positionRuchesE(${ruche.nom},${ruche.essaim.nom},${ruche.rucher.nom})}"></div>
		<div class="row" th:unless="${ruche.essaim}"
			th:text="#{positionRuches(${ruche.nom},${ruche.rucher.nom})}"></div>
		<div class="row" th:if="${rucheSource}"
			th:text="#{positionRuchesE(${rucheSource.nom},${rucheSource.essaim.nom},${rucheSource.rucher.nom})}"></div>
	</div>
	<br>
	<form action="#"
		th:action="@{'/essaim/ruche/associe/sauve/' + ${ruche.id} + '/' + ${essaim.id}}"
		method="post" id="evenementForm">
		<div th:replace="~{includeForm :: date}"></div>
		<div th:replace="~{includeForm :: commentaire}"></div>
		<div class="form-check" th:if="${rucheSource}">
			<input class="form-check-input" type="checkbox" id="swapPositions"
				th:checked="${ruche.rucher.depot}" name="swapPositions"> <label
				class="form-check-label" for="swapPositions"
				th:text="#{echangePositionsRuches(${ruche.nom},${rucheSource.nom})}"></label>
		</div>
		<div class="form-floating mb-3" th:if="${ruche.essaim}"
			style="margin-top: 5px">
			<fieldset class="border rounded-3 p-3">
				<div
					th:text="#{Sortie} + ' ' + #{essaim} + ' ' + ${ruche.essaim.nom}"></div>
				<div class="form-floating mb-3">
					<select class="form-control" id="sortie" name="sortie">
						<option
							th:each="sortie : ${T(ooioo.ruches.essaim.ReineSortie).values()}"
							th:value="${sortie}" th:text="#{${sortie}}"></option>
					</select> <label class="form-label" for="sortie" th:text="#{Sortie}"></label>
				</div>
				<div class="form-floating mb-3">
					<textarea class="form-control" id="commDisp" name="commDisp"
						placeholder="Commentaire" maxlength="255"></textarea>
					<label class="form-label" th:text="#{commDisp}" for="commDisp"></label>
				</div>
			</fieldset>
		</div>
		<br>
		<div th:text="#{etatEnregistre}"></div>
		<div th:if="${ruche.essaim}"
			th:text="#{essaim} + ' ' + ${ruche.essaim.nom} + ' ' + #{disperse}"></div>
		<div th:if="${rucheSource}" id="deplacementE"></div>
		<div id="etatRuche"></div>
		<div th:if="${rucheSource}" id="etatRucheSource"></div>
		<div th:replace="~{includeForm :: BtnForm}"></div>
	</form>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>