<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:inline="javascript">
$(document).ready(function() {
	$('.confirmation').on('click', function () {
		if([[${recolteHausses}]]) {
			alert([[#{essaimsupprimerecolte}]]);
			return false;
		} else if ([[${evenements}]]) {
	        return confirm([[#{supprimeressaimevenements}]]);			
		} else {
			return confirm([[#{supprimeressaim}]]);
		}
    });
    $('#associerRucheEssaim').DataTable();
	$( "#clone" ).click(function() {
		const noms = prompt([[#{nomessaimsvirgule}]]);
		if (noms == null || noms == "") {
		    return;
		}
		const tabNomExiste=[];
		const tabNomOk=[];
		const tabNomRucheOk=[];
		const tabNomRucheIncorrect=[];
		const nomsarr = noms.split(',');
		for (const item of nomsarr) {
			const arr = item.split(';');
			const ne = arr[0].trim();
			let nr = "";
			if (arr.length > 1) {
				nr = arr[1].trim();
			}
			if ($.inArray(ne, [[${essaimnoms}]]) != -1) {
				// l'essaim ne existe déjà 
				tabNomExiste.push(ne);
				if ((nr != "") && ($.inArray(nr, [[${ruchesvidesnoms}]]) == -1)) {
					// ruche nr incorrecte
					tabNomRucheIncorrect.push(nr);
				}
			} else {
				// on crée l'essaim ne
				tabNomOk.push(ne);
				if (nr == "") {
					// pas de ruche
					tabNomRucheOk.push("");
				} else if ($.inArray(nr, [[${ruchesvidesnoms}]]) == -1) {
					// ruche nr incorrecte
					tabNomRucheOk.push("");
					tabNomRucheIncorrect.push(nr);
				} else {
					// on met l'essaim ne dans la ruche nr
					tabNomRucheOk.push(nr);
				}
			}
		}
		let prompterreur = "";
		if (tabNomRucheIncorrect.length > 0) {
			prompterreur = [[#{lesRuches}]] + ' : ' + tabNomRucheIncorrect.join(',') + ' ' + [[#{nexistentPasOuPasVides}]];
		}
		if (tabNomExiste.length > 0) {
			if (prompterreur != "") { prompterreur += '\n'; }		
			prompterreur += [[#{lesEssaims}]] + ' : ' + tabNomExiste.join(',') + ' ' + [[#{nomexistentdeja}]];
			if (tabNomOk.length == 0) {
				alert(prompterreur);
				return false;					
			}
			if (!confirm(prompterreur + '. ' + [[#{creer}]] + ' ' + tabNomOk.join(',') + ' ?')) {
				return false;
			}
		} else if (tabNomRucheIncorrect.length > 0) {
			if (!confirm(prompterreur + '. ' + [[#{creer}]] + ' ' + tabNomOk.join(',') + ' ?')) {
				return false;
			}
		}
	    let requestData = {nomclones : tabNomOk.join(','), nomruches : tabNomRucheOk.join(',')};
		const _csrf_token = [[${_csrf.token}]];
	    const _csrf_param_name = [[${_csrf.parameterName}]];
	    requestData[_csrf_param_name] = _csrf_token;
		$.post( [[@{/essaim/clone/}]] + [[${essaim.id}]],
				requestData).done(function (data) { 
					alert( data );
					document.location.reload(true);
		});
	});
});
</script>
</head>
<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" id="titre" th:text="#{essaim}+' '+${essaim.nom}"></h1>
			</div>
			<div class="col">
				<a th:href="@{'/essaim/modifie/'+${essaim.id}}"
				  class="oi oi-pencil" th:title="#{modifier}" aria-hidden="true"></a>
				<span id="clone" class="oi oi-layers" th:title="#{cloner}" aria-hidden="true"></span>
       			<a th:href="@{'/essaim/associe/'+${essaim.id}}"
       			  class="oi oi-loop-square" th:title="#{associationruche}" aria-hidden="true"></a>
       			<a id="supprime" th:href="@{'/essaim/supprime/'+${essaim.id}}"
       			  class="confirmation oi oi-trash" th:title="#{supprimer}" aria-hidden="true"></a>
       			<a th:href="@{'/essaim/descendance/'+${essaim.id}}"
       			  class="oi oi-fork" th:title="#{graphedescendance}" aria-hidden="true"></a>
       			  <a th:href="@{'/evenement/essaim/dispersion/'+${essaim.id}}"
				  class="oi oi-delete" th:title="#{evenementDispersion}" aria-hidden="true"></a>
				&nbsp;
       			<a th:href="@{'/evenement/essaim/'+${essaim.id}}"
       			  class="padicons oi oi-list-rich" th:title="#{evenements}" aria-hidden="true"></a>
				<a th:href="@{'/evenement/essaim/commentaire/'+${essaim.id}}"
				  class="oi oi-info" th:title="#{evenementCommentaireEssaim}" aria-hidden="true"></a>
				<a th:href="@{'/evenement/essaim/sucre/'+${essaim.id}}"
				  class="oi oi-beaker" th:title="#{evenementSucre}" aria-hidden="true"></a>
				<a th:href="@{'/evenement/essaim/traitement/'+${essaim.id}}"
				  class="oi oi-bug" th:title="#{evenementTraitement}" aria-hidden="true"></a>
				<th:block th:if="${rucheEssaim}">
					<a th:href="@{'/evenement/ruche/pesee/'+${rucheEssaim?.id}+'?retourEssaim=true'}"
					  class="oi oi-data-transfer-download" th:title="#{evenementPesee}" aria-hidden="true"></a>
       				<a th:href="@{'/evenement/ruche/cadre/'+${rucheEssaim?.id}+'?retourEssaim=true'}"
       				  class="oi oi-grid-four-up" th:title="#{evenementCadres}" aria-hidden="true"></a>
				</th:block>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<table class="table table-responsive table-bordered">
			<thead>
				<tr>
					<th th:if="${session.voirInactif}" th:text="#{actif}"></th>
					<th th:text="#{dateAcquisition}"></th>
					<th style="background-color:LemonChiffon" th:text="#{reineMarquee}"></th>
					<th style="background-color:LemonChiffon" th:text="#{reineCouleurMarquage}"></th>
					<th style="background-color:LemonChiffon" th:text="#{reineDateNaissance}"></th>
					<th th:text="#{souche}"></th>
					<th th:text="#{agressivite}"></th>
					<th th:text="#{proprete}"></th>
					<th th:text="#{commentaire}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:if="${session.voirInactif}" th:text="${essaim.actif}? #{oui} : #{non}"></td>	
					<td th:text="${essaim.dateAcquisition}"></td>
					<td th:text="${essaim.reineMarquee}? #{oui} : #{non}"></td>
					<td th:text="#{${essaim.reineCouleurMarquage}}"></td>
					<td th:text="${essaim.reineDateNaissance}"></td>				
					<td><a th:href="@{'/essaim/'+${essaim.souche?.id}}"
						th:text="${essaim.souche?.nom}"></a>
					</td>
					<td th:text="${essaim.agressivite}"></td>
					<td th:text="${essaim.proprete}"></td>
					<td th:text="${essaim.commentaire}"></td>
				</tr>
			</tbody>
		</table>
		<table class="table table-responsive table-bordered">			
		<thead>
			<tr>		
				<th style="background-color:PaleGoldenRod" th:text="#{ruche}"></th>
				<th style="background-color:PaleGoldenRod" th:text="#{date}"></th>
				<th style="background-color:PaleGoldenRod" th:text="#{commentaire}"></th>
				<th style="background-color:LemonChiffon" th:text="#{rucher}"></th>
				<th style="background-color:LemonChiffon" th:text="#{date}"></th>
				<th style="background-color:LemonChiffon" th:text="#{commentaire}"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a th:href="@{'/ruche/'+${rucheEssaim?.id}}"
						th:text="${rucheEssaim?.nom}"></a></td>						
				<td th:text="${#temporals.format(dateAJOUTESSAIMRUCHE, 'yyyy/MM/dd')}"></td>
				<td th:text="${commentaireAJOUTESSAIMRUCHE}"></td>
				<td><a th:href="@{'/rucher/'+${rucheEssaim?.rucher?.id}}"
						th:text="${rucheEssaim?.rucher?.nom}"></a></td>
				<td th:text="${#temporals.format(dateRUCHEAJOUTRUCHER, 'yyyy/MM/dd')}"></td>
				<td th:text="${commentaireRUCHEAJOUTRUCHER}"></td>
			</tr>
		</tbody>
	</table>
	<h6 th:text="#{evenements}" 
		th:if="${(dateTraitement != null) or (dateESSAIMSUCRE != null) or 
		(dateCOMMENTAIREESSAIM != null) or (dateRUCHEPESEE != null) or (dateRUCHECADRE != null)}">
	</h6>
	<table class="table table-responsive table-bordered" 
		th:if="${(dateTraitement != null) or (dateESSAIMSUCRE != null) or (dateCOMMENTAIREESSAIM != null)}">			
		<thead>
			<tr>		
				<th style="background-color:PaleGoldenRod" th:text="#{traitement}"></th>
				<th style="background-color:PaleGoldenRod" th:text="#{date}"></th>
				<th style="background-color:PaleGoldenRod" th:text="#{commentaire}"></th>
				<th style="background-color:LemonChiffon" th:text="#{actionSucre}"></th>
				<th style="background-color:LemonChiffon" th:text="#{date}"></th>
				<th style="background-color:LemonChiffon" th:text="#{commentaire}"></th>
				<th style="background-color:PaleGoldenRod" th:text="#{commentaire}"></th>
				<th style="background-color:PaleGoldenRod" th:text="#{date}"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${typeTraitement}"></td>
				<td th:text="${#temporals.format(dateTraitement, 'yyyy/MM/dd')}"></td>
				<td th:text="${commentaireTraitement}"></td>
				<td class="num" th:text="${#numbers.formatDecimal(valeurESSAIMSUCRE,1,2,'COMMA')}"></td>
				<td th:text="${#temporals.format(dateESSAIMSUCRE, 'yyyy/MM/dd')}"></td>
				<td th:text="${commentaireESSAIMSUCRE}"></td>
				<td th:text="${commentaireCOMMENTAIREESSAIM}"></td>
				<td th:text="${#temporals.format(dateCOMMENTAIREESSAIM, 'yyyy/MM/dd')}"></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-responsive table-bordered" th:if="${(dateRUCHEPESEE != null) or (dateRUCHECADRE != null)}">			
		<thead>
			<tr>
				<th style="background-color:PaleGoldenRod" th:text="#{poidsVide}"></th>
				<th style="background-color:PaleGoldenRod" th:text="#{date}"></th>
				<th style="background-color:PaleGoldenRod" th:text="#{commentaire}"></th>				
				<th style="background-color:LemonChiffon" th:text="#{nbCadres}"></th>
				<th style="background-color:LemonChiffon" th:text="#{date}"></th>
				<th style="background-color:LemonChiffon" th:text="#{commentaire}"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${#numbers.formatDecimal(valeurRUCHEPESEE,1,2)}"></td>
				<td th:text="${#temporals.format(dateRUCHEPESEE, 'yyyy/MM/dd')}"></td>
				<td th:text="${commentaireRUCHEPESEE}"></td>
				<td class="num" th:text="${valeurRUCHECADRE}"></td>
				<td th:text="${#temporals.format(dateRUCHECADRE, 'yyyy/MM/dd')}"></td>
				<td th:text="${commentaireRUCHECADRE}"></td>
			</tr>
		</tbody>
	</table>
	
	<table th:if="${#arrays.length(poidsListe)} &gt; 0" class="table table-responsive table-bordered">			
		<thead>
			<tr>
				<th style="background-color:LightCyan" th:text="#{recolte}"></th>
				<td th:each="recolte : ${recoltesListe}">
					<a th:href="@{'/recolte/'+${recolte.id}}" th:text="${#temporals.format(recolte.date, 'yyyy/MM/dd')}"></a>
				</td>
				<th style="background-color:LightCyan" th:text="#{Total}"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th style="background-color:LightCyan" th:text="#{poidskg}"></th>
				<td th:each="poids : ${poidsListe}" th:text="${#numbers.formatDecimal(poids/1000.0,1,2,'DEFAULT')}"></td>
				<td th:text="${#numbers.formatDecimal(poidsTotal/1000.0,1,2,'DEFAULT')}"></td>		
			</tr>
		</tbody>
	</table>
	</div>
	<footer th:replace="include::footer"></footer>
</body>
</html>