<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:replace="include :: jsdatetimepicker"></script>
<link th:replace="include :: cssdatetimepicker"/>
<script th:replace="include :: localejsdatetimepicker"></script>
<script>
	$().ready(function() {
	    $('.oi-question-mark').popover({
	        html: true
	    });
	    $('.popover-dismiss').popover({
	        trigger: 'focus'
	    });
		$("#commentaire").focus();
		$("#evenementForm").validate({
			rules : {
				date : {
					required : true
				},
				commentaire : {
					maxlength : 255
				}
			}
		});
	});
</script>
</head>
<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
				<th:block th:text="#{dispersion} + ' '"></th:block>
				  <a th:href="@{'/essaim/'+${essaimId}}"
					th:text="#{essaim} + ' ' + ${essaim.nom}"></a>
				</h1>
        	</div>     	
        	<div class="col">
				<a href="#" class="oi oi-question-mark" data-bs-toggle="popover"
					data-bs-trigger="focus" tabindex="0" role="button"
					th:attr="data-bs-content=#{aideessaimdspersionform}"></a>
			</div>
        </div>
    </div>
    <form action="#" th:action="@{'/evenement/essaim/sauve/dispersion/'+${essaim.id}}"
		method="post" id="evenementForm">		
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="depot"
				name="depot" checked /> 
			<label class="form-check-label"
				for="depot" th:text="#{retourrucheaudepot}"></label>
		</div>
		<div id="divevencadre" class="form-check">
			<input class="form-check-input" type="checkbox" id="evencadre"
				name="evencadre" checked /> 
			<label class="form-check-label"
				for="evencadre" th:text="#{creationevecadrezero}"></label>
		</div>
		<div th:replace="includeForm :: date"></div>
		<div th:replace="includeForm :: commentaire"></div>
		<th:block th:if="${nomRuche}">
			<div class="mb-3">
				<label class="form-label" for="remerageId" th:text="#{nouvellereine} + ' ' + ${nomRuche}"></label> <select
					class="form-control" id="remerageId" name="remerageId">
					<option th:text="#{aucune}" value=""></option>
					<option th:each="essaimopt : ${essaimsRemerage}" th:value="${essaimopt[0]}"
						th:text="${essaimopt[1]}"></option>
				</select>
			</div>
		</th:block>
		<div th:replace="includeForm :: BtnForm"></div>
	</form>
	<footer th:include="include::footer"></footer>
</body>
</html>