<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:replace="~{include :: jsChart}"></script>
<script th:replace="~{include :: jsChartZoomHammer}"></script>
<script th:replace="~{include :: jsChartZoom}"></script>
<script th:replace="~{include :: luxon}"></script>
<script th:replace="~{include :: chartjs-adapter}"></script>
<script th:replace="~{include :: jsruches}"></script>
<script th:inline="javascript">
	/* exported poids, dates, poidsSucre, datesSucre, poidsRec, datesRec, ruchersRec, 
	datesTrait, typesTrait, datesFinTrait, datesRucher, nomsRucher, datesCadre, nbsCadre, 
	datesHausses, nbHausses, ajoutHausses, nomRucheHausses, vide, ruchetxt, ajout, retrait */
	const poids = /*[[${poids}]]*/null;
	const dates = /*[[${dates}]]*/null;
	const poidsSucre = /*[[${poidsSucre}]]*/null;
	const datesSucre = /*[[${datesSucre}]]*/null;
	const poidsRec = /*[[${poidsRec}]]*/null;
	const datesRec = /*[[${datesRec}]]*/null;
	const ruchersRec = /*[[${ruchersRec}]]*/null;
	const datesTrait = /*[[${datesTrait}]]*/null;
	const typesTrait = /*[[${typesTrait}]]*/null;
	const datesFinTrait = /*[[${datesFinTrait}]]*/null;
	const datesRucher = /*[[${datesRucher}]]*/null;
	const nomsRucher = /*[[${nomsRucher}]]*/null;
	const datesCadre = /*[[${datesCadre}]]*/null;
	const nbsCadre = /*[[${nbsCadre}]]*/null;
	const datesHausses = /*[[${datesHausses}]]*/null;
	const nbHausses = /*[[${nbHausses}]]*/null;
	const ajoutHausses = /*[[${ajoutHausses}]]*/null;
	const nomRucheHausses = /*[[${nomRucheHausses}]]*/null;
	const ruchetxt = /*[[#{ruche}]]*/null;
	const ajout = /*[[#{Ajout}]]*/null;
	const retrait = /*[[#{Retrait}]]*/null;
	const vide = /*[[${vide}]]*/null;
</script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/essaim/'+${essaim.id}}"
						th:text="#{essaim}+' '+${essaim.nom}"></a>
					<th:block th:text="#{sep}+#{evenements}"></th:block>
				</h1>
			</div>
			<div class="col">
				<label th:text="#{AfficherEchelle}" for="scales"></label> <input
					type="checkbox" id="scales" checked> &nbsp;
				<button id="zoomini" type="button" class="btn btn-primary btn-sm"
					th:text="#{ZoomIni}"></button>
			</div>
		</div>
		<div th:if="${vide}" class="row">
			<div class="col text-center">
				<span th:text="#{AucunEve}"></span>
			</div>
		</div>
	</div>
	<div id="trtTxt" hidden>
		<p
			th:each="traitement : ${T(ooioo.ruches.evenement.TypeTraitement).values()}"
			th:text="#{${traitement}}"></p>
	</div>
	<canvas th:unless="${vide}" id="ctx"></canvas>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>