<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:replace="include :: jsChart"></script>
<script th:replace="include :: d3-color"></script>
<script th:replace="include :: d3-interpolate"></script>
<script th:replace="include :: d3-scale-chromatic"></script>
<script th:src="@{/js/ruches/essaimsStatAge.js}"></script>
<script th:inline="javascript">
	const pas = [[${pas}]];
	const agesHisto = [[${agesHisto}]];
	// const nbCouveuse = [[${nbCouveuse}]];
	const ageMoyenJours = [[${ageMoyenJours}]];
	const ageVarianceJours = [[${ageVarianceJours}]];
	// const horsRuche = [[${horsRuche}]];
	const ageMaxJours = [[${ageMaxJours}]];
	const ageMinJours = [[${ageMinJours}]];
	// const EnCouveuse = [[#{EnCouveuse}]];
	const Moyenne = [[#{Moyenne}]];
	const EcartType = [[#{EcartType}]];
	// const horsRucheTxt = [[#{horsRuche}]];
	const Min = [[#{Min}]];
	const Max = [[#{Max}]];
	$(document).ready(function() { graphe(); });
</script>
</head>
<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
<!--/*
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:text="#{ageReines}"></h1>
			</div>
			<div class="col">
			  	<span th:text="#{Moyenne} + ' ' + ${ageMoyenJours} + ' jours'">
			  	</span>
			</div>
			<div class="col">
			  	<span th:text="#{EcartType} + ' ' + ${ageVarianceJours} + ' jours'">
			  	</span>
			</div>
			<div th:if="${nbCouveuse}" class="col">
			  	<span th:attr="data-content=#{aideReineIgnorees}" 
			  		data-toggle="popover" data-trigger="hover" 
			  		th:text="#{EnCouveuse} + ' ' + ${nbCouveuse}">
			  	</span>
			</div>
			<div th:if="${horsRuche}" class="col">
			  	<span  th:attr="data-content=#{aideReineIgnorees}" 
			  		data-toggle="popover" data-trigger="hover" 
			  		th:text="#{horsRuche} + ' ' + ${horsRuche}">
			  	</span>
			</div>	
        </div>
    </div>
   */-->
	<div class="container-fluid">
		<canvas id="ctx"></canvas>
	</div>
	<footer th:replace="include::footer"></footer>
</body>
</html>