<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:replace="~{include :: jsdatetimepicker}"></script>
<script th:replace="~{include :: localejsdatetimepicker}"></script>
<link th:replace="~{include :: cssdatetimepicker}" />
<script th:inline="javascript">
		const essaimNoms = /*[[${essaimNoms}]]*/null;
		const nomexiste = /*[[#{nomexiste}]]*/null;
		document.addEventListener('DOMContentLoaded', () => {
			$('#reineDateNaissance, #dateAcquisition').datetimepicker(
				{timepicker: false, format: 'Y-m-d'});
			document.getElementById('nom').focus();
			jQuery.validator.addMethod('nomExiste', function (value) {
				return !essaimNoms.includes(value);
			}, nomexiste);
			const chkActif = document.getElementById('actif1');
			$('#essaimForm').validate({
				errorClass: 'erreur-form',
				errorPlacement: function (error, element) {
					error.insertBefore(element.closest('div'));
				},
				rules: {
					nom: {
						required: true,
						nomExiste: true,
						normalizer: function (value) {
							return $.trim(value);
						}
					},
					dateAcquisition: {
						required: true
					},
					reineDateNaissance: {
						required: true
					},
					dateDispersion: {
						required: function () {
							return !chkActif.checked;
						}
					}
				}
			});
			const disp = document.getElementById('disp');
			function disphidden() {
				if (chkActif.checked) {
					disp.setAttribute('hidden', '');
				} else {
					disp.removeAttribute('hidden');
				}
			}
			disphidden();
			document.getElementById('actif1').addEventListener('click', disphidden);
		});
	</script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:unless="${essaim.id}">
					<a th:href="@{'/essaim/liste'}" th:text="#{Essaims}"></a>
					<th:block th:text="#{sep} + #{Ajout}"></th:block>
				</h1>
				<h1 class="item" th:if="${essaim.id}">
					<a th:href="@{'/essaim/'+${essaim.id}}"
						th:text="#{essaim} + ' ' + ${essaim.nom}"></a>
					<th:block th:text="#{sep} + #{modification}"></th:block>
				</h1>
			</div>
		</div>
	</div>
	<form action="#" th:action="@{/essaim/sauve}" th:object="${essaim}"
		method="post" id="essaimForm">
		<input class="form-control" type="hidden" th:field="*{id}" />
		<div th:replace="~{includeForm :: nomField}"></div>
		<div class="mb-3 form-check">
			<input class="form-check-input" type="checkbox"
				th:field="*{reineMarquee}" /> <label class="form-check-label"
				for="reineMarquee" th:text="#{reineMarquee}"></label>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" type="text" placeholder="2021-03-26"
				th:field="*{reineDateNaissance}" th:errorclass="fieldError" /> <label
				class="form-label" th:text="#{reineDateNaissance}"
				for="reineDateNaissance"></label>
		</div>
		<div class="form-floating mb-3">
			<fieldset class="border rounded-3 p-3">
				<div th:replace="~{includeForm :: actifField}"></div>
				<div id="disp">
					<div class="form-floating mb-3">
						<select class="form-control" th:field="*{sortie}">
							<option
								th:each="sortie : ${T(ooioo.ruches.essaim.ReineSortie).values()}"
								th:value="${sortie}" th:text="#{${sortie}}"></option>
						</select> <label class="form-label" for="sortie" th:text="#{Sortie}"></label>
					</div>
					<!--/* on force l'id pour datetimepicker sur #date 
						https://stackoverflow.com/questions/75988981/does-thymeleafs-thfield-generate-an-id-attribute-too
						en gardant le fragment localejsdatetimepicker
					*/-->
					<div class="form-floating mb-3">
						<input id="date" placeholder="" class="form-control" type="text"
							th:field="*{dateDispersion}" th:errorclass="fieldError" /> <label
							class="form-label" th:text="#{dateDispersion}"
							for="dateDispersion"></label>
					</div>
					<div class="form-floating mb-3">
						<textarea class="form-control" th:field="*{commDisp}"
							placeholder="Commentaire" th:errorclass="fieldError"
							maxlength="255"></textarea>
						<label class="form-label" th:text="#{commDisp}" for="commDisp"></label>
					</div>
				</div>
			</fieldset>
		</div>
		<div th:replace="~{includeForm :: dateAcquisitionField}"></div>
		<div class="form-floating mb-3">
			<select class="form-control" th:field="*{origine}">
				<option
					th:each="origine : ${T(ooioo.ruches.essaim.ReineOrigine).values()}"
					th:value="${origine}" th:text="#{${origine}}"></option>
			</select> <label class="form-label" for="origine" th:text="#{origine}"></label>
		</div>
		<div th:replace="~{includeForm :: commentaireField}"></div>
		<div class="form-floating mb-3">
			<select class="form-control" th:field="*{souche}">
				<option th:text="#{aucune}" value=""></option>
				<option th:each="essaimopt : ${essaims}" th:value="${essaimopt.id}"
					th:text="${essaimopt.nom}"></option>
			</select> <label class="form-label" for="essaim" th:text="#{souche}"></label>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" type="number" min="1" max="5"
				th:field="*{agressivite}" placeholder="1" /> <label
				class="form-label" th:text="#{agressivite}" for="agressivite"></label>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" type="number" min="1" max="5"
				th:field="*{proprete}" placeholder="1" /> <label class="form-label"
				th:text="#{proprete}" for="proprete"></label>
		</div>
		<div th:replace="~{includeForm :: BtnForm}"></div>
	</form>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>