<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:replace="~{include :: jsruches}"></script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/essaim/liste'}" th:text="#{Essaims}"></a>
					<th:block th:text="#{sep}+#{Descendances}"></th:block>
				</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<table class="table table-bordered table-striped table-sm"
			id="descendance">
			<thead>
				<tr>
					<th th:text="#{nom}"></th>
					<th th:text="#{Profondeur}"></th>
					<th th:text="#{NombreEssaims}"></th>
					<th th:text="#{ArbreInactif}"></th>
					<th></th>
				</tr>
			</thead>
			<tbody th:with="f='dd/MM/yyyy'">
				<tr th:each="e, i : ${racines}">
					<td><a th:href="@{'/essaim/'+${e.id}}" th:text="${e.nom}"></a></td>
					<td><a th:text="${profondeurs[i.index]}"></a></td>
					<td><a th:text="${nbessaims[i.index]}"></a></td>
					<td><a th:text="${inactifs[i.index]}?#{oui}:#{non}"></a></td>
					<td><a data-bs-toggle="tooltip" th:title="#{GraphArbre}"
						th:href="@{'/essaim/descendance/'+${e.id}}" class="bi-diagram-3"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>