<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:inline="javascript">
const buttTxtPrint = /*[[#{buttontextprint}]]*/ null;
const buttTxtCol = /*[[#{buttontextcol}]]*/ null;
const rucheTypes = /*[[#{rucheTypes}]]*/ null;
$(document).ready(function() {
    new DataTable('#ruchetypes', {
        dom: 'Blftip',
	    buttons: [
	    	'csv',
	    	{extend: 'pdf', exportOptions: {columns: ':visible'}, 
	    		title: rucheTypes + " " + (new Date()).toLocaleDateString()},
	            {extend: 'print', text: buttTxtPrint},
	            {extend: 'colvis', text: buttTxtCol}
         ]
       });    
});
</script>
</head>
<body>
	<nav th:replace="include :: navbar">Menu</nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:text="#{rucheTypes}"></h1>
			</div>
			<div class="col">
				<a th:href="@{/rucheType/cree}" class="bi-plus-lg"
					th:title="#{ajouterRucheType}" aria-hidden="true">
				</a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<table class="table table-bordered table-striped" id="ruchetypes">
			<thead>
				<tr>
					<th th:text="#{nom}"></th>
					<th th:text="#{nbCadresMax}"></th>
					<th th:text="#{nbRuches}"></th>
					<th th:text="#{commentaire}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rucheType : ${rucheTypes}">				
					<td><a th:href="@{'/rucheType/'+${rucheType.id}}"
						th:text="*{rucheType.nom}"></a></td>
					<td class="num" th:text="*{rucheType.nbCadresMax}"></td>
					<td class="num" th:text="${NbRuches[rucheTypeStat.index]}"></td>
					<td th:text="${rucheType.commentaire}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="include::footer"></footer>
</body>
</html>
