<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:inline="javascript">
	const rucheTypeNoms = /*[[${rucheTypeNoms}]]*/null;
	const nomexiste = /*[[#{nomexiste}]]*/null;
	document.addEventListener('DOMContentLoaded', () => {
		$("#nom").focus();
		jQuery.validator.addMethod("nomExiste", function(value) {
			return $.inArray(value, rucheTypeNoms) == -1;
		}, nomexiste);
		$("#rucheTypeForm").validate({
			errorClass : 'erreur-form',
			errorPlacement : function(error, element) {
				error.insertBefore(element.closest('div'));
			},
			rules : {
				nom : {
					required : true,
					nomExiste : true,
					normalizer : function(value) {
						return $.trim(value);
					}
				},
				nbCadresMax : {
					required : true,
					digits : true,
				}
			}
		});
	});
</script>
</head>
<body>
	<nav th:replace="navbar::navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:unless="${rucheType.id}">
					<th:block th:text="#{ajouterUne} + ' '"></th:block>
					<a th:href="@{'/rucheType/liste'}" th:text="#{rucheType}"></a>
				</h1>
				<h1 class="item" th:if="${rucheType.id}">
					<th:block th:text="#{modification}"></th:block>
					<a th:href="@{/rucheType/liste}" th:text="#{rucheType}"></a>
					<th:block th:text="' ' + ${rucheType.nom}"></th:block>
				</h1>
			</div>
		</div>
	</div>
	<form action="#" th:action="@{/rucheType/sauve}"
		th:object="${rucheType}" method="post" id="rucheTypeForm">
		<input type="hidden" th:field="*{id}" />
		<div th:replace="includeForm :: nomField"></div>
		<div class="form-floating mb-3">
			<input placeholder="" class="form-control" type="number"
				th:field="*{nbCadresMax}" th:errorclass="fieldError"
				id="nbCadresMax" name="nbCadresMax" /> <label class="form-label"
				for="nbCadresMax" th:text="#{nbCadresMax}"></label>
		</div>
		<div th:replace="includeForm :: commentaireField"></div>
		<div th:replace="includeForm :: BtnForm"></div>
	</form>
	<footer th:replace="include::footer"></footer>
</body>
</html>