<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:inline="javascript">
$().ready(function() {
	$( "#accordion" ).accordion({
		active : 0,
		collapsible : true,
		 heightStyle: 'content'
	});
	  /*
	  {"lat":43.4893,"lon":5.3778,"timezone":"Europe/Paris","timezone_offset":7200,
		  "current":{"dt":1619087703,"sunrise":1619066664,"sunset":1619116151,"temp":18.16,"feels_like":17.13,
			  "pressure":1018,"humidity":42,"dew_point":5.06,"uvi":6.01,"clouds":0,
			  "visibility":10000,"wind_speed":5.66,"wind_deg":60,
			  "weather":[{"id":800,"main":"Clear","description":"ciel dégagé","icon":"01d"}]},
		  "daily":[{"dt":1619089200,"sunrise":1619066664,"sunset":1619116151,"moonrise":1619095620,
			  "moonset":1619059260,"moon_phase":0.32,
			  "temp":{"day":18.16,"min":9.19,"max":18.29,"night":13.23,"eve":16.03,"morn":9.19},
			  "feels_like":{"day":17.13,"night":8.15,"eve":15.12,"morn":8.15},
			  "pressure":1018,"humidity":42,"dew_point":5.06,"wind_speed":3.26,"wind_deg":241,"wind_gust":3.47,
			  "weather":[{"id":800,"main":"Clear","description":"ciel dégagé","icon":"01d"}],
			  "clouds":0,"pop":0,"uvi":6.15},
			  ...
	*/
	const optionsDate={day: "numeric", month: "numeric", hour: "numeric", minute: "numeric"};
	$.ajax({
    	url: "https://api.openweathermap.org/data/2.5/onecall?lat=" +
			[[${rucher.latitude}]] + "&lon=" + [[${rucher.longitude}]] +
			"&units=metric" +
			"&lang=fr" +
			"&APPID=" + [[${openweathermapKey}]] +
			"&exclude=minutely,hourly,alerts"			
    }).done(function (data) {
    	$('#date').html(fdate(data.current.dt));
       	$('#description').html(data.current.weather[0].description);
       	$('#temperature').html(data.current.temp.toFixed(1) + '°C');
       	$('#humidite').html(data.current.humidity + '%');
       	$('#rosee').html(data.current.dew_point.toFixed(1) + '°C');
       	$('#pression').html(data.current.pressure + 'hPa');
       	$('#tempRessent').html(data.current.feels_like.toFixed(1) + '°C');
       	$('#uvi').html(data.current.uvi);
       	$('#ventVitesse').html((data.current.wind_speed * 3.6).toFixed(1) + 'km/h');
       	$('#ventDirection').html(data.current.wind_deg + '° ' + degToCard(data.current.wind_deg));
       	$('#ventRafales').html((data.current.hasOwnProperty('wind_gust')?(data.current.wind_gust * 3.6):'0') + 'km/h');
       	$('#nuages').html(data.current.clouds + '%');
       	$('#visibilite').html(data.current.visibility + 'm');       	
       	$('#pluieVol1h').html((data.current.hasOwnProperty('rain')?(data.current.rain['1h']):'0') + 'mm');
       	$('#neigeVol1h').html((data.current.hasOwnProperty('snow')?(data.current.snow['1h']):'0') + 'mm');
       	$('#leverSoleil').html(fdate(data.current.sunrise));
       	$('#coucherSoleil').html(fdate(data.current.sunset));
       	$('#leverLune').html(fdate(data.daily[0].moonrise));
       	$('#coucherLune').html(fdate(data.daily[0].moonset));
       	$('#phaseLune').html(data.daily[0].moon_phase);
       	let htmlPrev='';
       	data.daily.forEach(function(day) {
       		htmlPrev+='<tr><td>' + fdate(day.dt) + '</td><td>' 
       			+ day.temp.min.toFixed(1) + '°C</td><td>' 
       			+ day.temp.max.toFixed(1) + '°C</td></tr>';
       		});
       	$('#previsions').append(htmlPrev);
	});
	function fdate(t) {
		return new Date(t*1000).toLocaleString(undefined, optionsDate).replace(' à','');
	}
	function degToCard(deg) {
		if (deg>11.25 && deg<=33.75) return "NNE";
		else if (deg>33.75 && deg<=56.25) return "NE";
		else if (deg>56.25 && deg<=78.75) return "ENE";
		else if (deg>78.75 && deg<=101.25) return "E";
		else if (deg>101.25 && deg<=123.75) return "ESE";
		else if (deg>123.75 && deg<=146.25) return "SE";
		else if (deg>146.25 && deg<=168.75) return "SSE";
		else if (deg>168.75 && deg<=191.25) return "S";
		else if (deg>191.25 && deg<=213.75) return "SSW";
		else if (deg>213.75 && deg<=236.25) return "SW";
		else if (deg>236.25 && deg<=258.75) return "WSW";
		else if (deg>258.75 && deg<=281.25) return "W";
		else if (deg>281.25 && deg<=303.75) return "WNW";
		else if (deg>303.75 && deg<=326.25) return "NW";
		else if (deg>326.25 && deg<=348.75) return "NNW";
		else return "N"; 		
	}
});
</script>
<style>
	th {background-color:aliceblue;}
</style>
</head>
<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<th:block th:text="#{meteo}+' '"></th:block>
					<a th:href="@{'/rucher/'+${rucher.id}}"
						th:text="#{rucher} + ' ' + ${rucher.nom}"></a>
				</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="accordion">
		<h1 class="item" th:text="#{aujourdhui}"></h1>
		<div>
		<table class="table">
			<thead>
				<tr>
					<th th:text="#{date}"></th>
					<th th:text="#{temperature}"></th>
					<th th:text="#{humidite}"></th>
					<th th:text="#{rosee}"></th>
					<th th:text="#{pression}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
				    <td id="date"></td>
				    <td id="temperature"></td>
					<td id="humidite"></td>
					<td id="rosee"></td>
					<td id="pression"></td>
				</tr>
			</tbody>
		</table>	
			<table class="table">
				<thead>
					<tr>
						<th th:text="#{tempRessent}"></th>
						<th th:text="#{uvi}"></th>
						<th th:text="#{ventVitesse}"></th>
						<th th:text="#{ventDirection}"></th>
						<th th:text="#{ventRafales}"></th>	
					</tr>
				</thead>
				<tbody>
					<tr>
						<td id="tempRessent"></td>
						<td id="uvi"></td>
						<td id="ventVitesse"></td>
						<td id="ventDirection"></td>
						<td id="ventRafales"></td>	
					</tr>
				</tbody>
			</table>
			<table class="table">
				<thead>
					<tr>
						<th th:text="#{description}"></th>
						<th th:text="#{nuages}"></th>
						<th th:text="#{visibilite}"></th>
						<th th:text="#{pluieVol1h}"></th>
						<th th:text="#{neigeVol1h}"></th>
						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td id="description"></td>
					    <td id="nuages"></td>
						<td id="visibilite"></td>
						<td id="pluieVol1h"></td>
						<td id="neigeVol1h"></td>
					</tr>
				</tbody>
			</table>		
			<table class="table">
				<thead>
					<tr>	
						<th th:text="#{leverSoleil}"></th>
						<th th:text="#{coucherSoleil}"></th>
						<th th:text="#{leverLune}"></th>
						<th th:text="#{coucherLune}"></th>
						<th th:text="#{phaseLune}"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td id="leverSoleil"></td>
						<td id="coucherSoleil"></td>
						<td id="leverLune"></td>
						<td id="coucherLune"></td>
						<td id="phaseLune"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<h1 class="item" th:text="#{previsions}"></h1>
		<div>
			<table class="table table-bordered">
				<thead>
					<tr>	
						<th th:text="#{date}"></th>
						<th th:text="#{tempMin}"></th>
						<th th:text="#{tempMax}"></th>
					</tr>
				</thead>
				<tbody id="previsions">
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="include::footer"></footer>
</body>
</html>