<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
	<script th:replace="~{include :: jsChart}"></script>
	<script th:replace="~{include :: luxon}"></script>
	<script th:replace="~{include :: chartjs-adapter}"></script>
	<script th:replace="~{include :: d3-color}"></script>
	<script th:replace="~{include :: d3-interpolate}"></script>
	<script th:replace="~{include :: d3-scale-chromatic}"></script>
	<script th:replace="~{include :: jsruches}"></script>
	<script th:inline="javascript">
		/* exported essaims, poids, dates, ruches*/
		const essaims = /*[[${essaims}]]*/ null;
		const ruches = /*[[${ruches}]]*/ null;
		const poids = /*[[${poids}]]*/ null;
		const dates = /*[[${dates}]]*/ null;
	</script>
</head>

<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<canvas id="ctx"></canvas>
		<div class="row">
			<div class="col text-center">
				<h1 class="item">
					<a th:href="@{'/rucher/'+${rucher.id}}" th:text="#{rucher}+' '+${rucher.nom}"></a>
					<th:block th:text="' '+#{poidsessaims}"></th:block>
				</h1>
			</div>
		</div>
	</div>
	<footer th:replace="~{include::footer}"></footer>
</body>

</html>