<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:inline="javascript">
		/* globals DataTable, bootstrap */
		document.addEventListener('DOMContentLoaded', () => {
			const distCalc = /*[[#{distCalc}]]*/ null;
			const distCalcReset = /*[[#{distCalcReset}]]*/ null;
			new DataTable('#distsRuchers', {
				paging: false,
				searching: false,
				scrollX: true,
				columnDefs: [
					{
						// Pour aligner à droite la colonne des temps.
						// https://datatables.net/manual/styling/classes#Cell-classes
						targets: 2,
						className: 'dt-right'
						}
					]
			});
			document.getElementById('dist').addEventListener('click', event => {
				if (confirm(distCalc)) {
					// https://getbootstrap.com/docs/5.3/components/modal/
					new bootstrap.Modal(document.getElementById('distmod')).show();
					return;
				}
				event.preventDefault();
			});
			document.getElementById('distreset').addEventListener('click', event => {
				if (confirm(distCalcReset)) {
					new bootstrap.Modal(document.getElementById('distmod')).show();
					return;
				}
				event.preventDefault();
			});
		});
	</script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/rucher/'+${rucher.id}}"
						th:text="#{rucher} + ' ' + ${rucher.nom}"></a>
					<th:block th:text="#{sep} + #{Distances}"></th:block>
				</h1>
			</div>
			<div class="col">
				<div id="distmod" data-bs-backdrop="static" class="modal fade"
					tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-sm">
						<div class="modal-content">
							<div class="modal-body">
								<p th:text="#{calculEnCours}"></p>
							</div>
						</div>
					</div>
				</div>
				<a id="dist" th:href="@{'/rucher/dist'}" class="bi-truck-front"
					th:title="#{distances}" aria-hidden="true"></a> &nbsp; <a
					id="distreset" th:href="@{'/rucher/dist?reset=true'}"
					class="bi-truck-front" th:title="#{distancesReset}"
					aria-hidden="true" style="color: red"></a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<table class="table table-bordered table-striped table-sm"
			id="distsRuchers">
			<thead>
				<tr>
					<th rowspan="2" th:text="#{rucher}"></th>
					<th:block th:if="${session.voirInactif}">
						<th rowspan="2" th:text="#{actif}"></th>
					</th:block>
					<th colspan="3" th:text="#{Voiture}" style="text-align: center"
						data-dt-order="disable"></th>
					<th rowspan="2" th:text="#{DistanceO}"></th>
				</tr>
				<tr>
					<th th:text="#{Distance}"></th>
					<th th:text="#{temps}"></th>
					<th th:text="#{Vitesse}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rr : ${rrs}">
					<td><a th:text="${rr.nom}" th:href="@{'/rucher/'+${rr.id}}"></a></td>
					<th:block th:if="${session.voirInactif}">
						<td th:text="${rr.actif}?#{oui}:#{non}"></td>
					</th:block>
					<td
						th:text="${dist[rrStat.index] == 0} ? '' : ${#numbers.formatDecimal(dist[rrStat.index],1,3)}">
					</td>
					<td
						th:text="${dist[rrStat.index] == 0} ? '' : ${#temporals.format(temps[rrStat.index], 'HH:mm')}"></td>
					<td th:text="${#numbers.formatDecimal(vitesse[rrStat.index],1,2)}">
					</td>
					<td
						th:text="${#numbers.formatDecimal(distOiseau[rrStat.index],1,3)}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>