<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:replace="~{include :: jsChart}"></script>
<script th:replace="~{include :: jsChartZoomHammer}"></script>
<script th:replace="~{include :: jsChartZoom}"></script>
<script th:replace="~{include :: luxon}"></script>
<script th:replace="~{include :: chartjs-adapter}"></script>
<script th:replace="~{include :: jsruches}"></script>
<script th:inline="javascript">
	/* exported essaims, poids, dates, ruches, ruche */
	const essaims = /*[[${essaims}]]*/null;
	const ruches = /*[[${ruches}]]*/null;
	const poids = /*[[${poids}]]*/null;
	const dates = /*[[${dates}]]*/null;
	const ruche = /*[[#{ruche}]]*/null;
</script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/rucher/'+${rucher.id}}"
						th:text="#{rucher}+' '+${rucher.nom}"></a>
					<th:block th:unless="${#arrays.isEmpty(essaims)}"
						th:text="#{sep}+#{poidsessaims}"></th:block>
					<th:block th:if="${#arrays.isEmpty(essaims)}"
						th:text="#{sep}+#{aucunePesee}"></th:block>
				</h1>
			</div>
			<div class="col" th:unless="${#arrays.isEmpty(essaims)}">
				<label th:text="#{AfficherEchelle}" for="scales"></label> <input
					type="checkbox" id="scales" checked> &nbsp;
				<button id="zoomini" type="button" class="btn btn-primary btn-sm"
					th:text="#{ZoomIni}"></button>
			</div>
		</div>
	</div>
	<canvas th:unless="${#arrays.isEmpty(essaims)}" id="ctx"></canvas>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>