<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:inline="javascript">
	/* globals DataTable */
	const buttontextprint = /*[[#{buttontextprint}]]*/null;
	const buttontextcol = /*[[#{buttontextcol}]]*/null;
	const Ruchers = /*[[#{Ruchers}]]*/null;
	document.addEventListener('DOMContentLoaded', () => {
		const table = new DataTable('#ruchers', {
			scrollX: true,
			layout: {
				topStart: {
					buttons: [
						'csv',
						{
							extend: 'pdfHtml5',
							exportOptions: { columns: ':visible' },
							customize: function(doc) {
								let title = Ruchers + ' ' + (new Date()).toLocaleDateString();
								const inputSearch = table.search();
								if (inputSearch.length !== 0) {
									title += ' <' + inputSearch + '>';
								}
								doc.content[0].text = title;
							}
						},
						{
							extend: 'print', text: buttontextprint,
							exportOptions: { columns: ':visible' },
						},
						{ extend: 'colvis', text: buttontextcol },
						'pageLength'
					]
				}
			}
		});
	});
  </script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:text="#{Ruchers}"></h1>
			</div>
			<div class="col">
				<a id="cree" th:href="@{/rucher/cree}" class="bi-plus-lg"
					th:title="#{ajouterRucher}" aria-hidden="true"></a> &nbsp; <a
					th:href="@{/rucher/Gg}" class="bi-google" th:title="#{carteGg}"
					aria-hidden="true"></a> <a th:href="@{'/rucher/Ign'}"
					th:title="#{carteIgn}" aria-hidden="true"><img alt="France"
					th:src="@{'/images/france.svg'}" style="margin-bottom: 2px;"></a>
				<a th:href="@{/rucher/Osm}" class="bi-globe" th:title="#{carteOsm}"
					aria-hidden="true"></a> &nbsp; <a th:href="@{/rucher/statistiques}"
					class="bi-table" th:title="#{statistiquesruchers}"
					aria-hidden="true"></a> &nbsp; <a
					th:href="@{'/rucher/historiques/true/false'}" class="bi-truck-front"
					th:title="#{transhumances}" aria-hidden="true"></a>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="ruchersDiv">
		<table class="table table-bordered table-striped table-sm"
			id="ruchers">
			<thead>
				<tr>
					<th th:text="#{nom}"></th>
					<th th:if="${session.voirInactif}" th:text="#{actif}"></th>
					<th th:text="#{contact}"></th>
					<th th:text="#{adresse}"></th>
					<th:block th:if="${session.voirLatLon}">
						<th th:text="#{latitude}"></th>
						<th th:text="#{longitude}"></th>
					</th:block>
					<th th:text="#{altitude}"></th>
					<th th:text="#{ressource}"></th>
					<th th:text="#{Ruches}"></th>
					<th th:text="#{Hausses}"></th>
					<th th:text="#{commentaire}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rucher : ${ruchers}">
					<td><a th:href="@{'/rucher/'+${rucher.id}}"
						th:text="${rucher.nom}"></a></td>
					<td th:if="${session.voirInactif}"
						th:text="${rucher.actif}? #{oui} : #{non}"></td>
					<td th:text="${rucher.contact?.nom}"></td>
					<td th:text="${rucher.adresse}"></td>
					<th:block th:if="${session.voirLatLon}">
						<td class="num"
							th:text="${#numbers.formatDecimal(rucher.latitude,1,4)}"></td>
						<td class="num"
							th:text="${#numbers.formatDecimal(rucher.longitude,1,4)}"></td>
					</th:block>
					<td class="num" th:text="${rucher.altitude}"></td>
					<td th:text="${rucher.ressource}"></td>
					<td class="num" th:text="${nbRuches[rucherStat.index]}"></td>
					<td class="num" th:text="${nbHausses[rucherStat.index]}"></td>
					<td th:text="${rucher.commentaire}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>