<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:replace="~{include :: jsol}"></script>

<!-- 
<script th:replace="~{include :: jsGpOsmPluginOpenLayers}"></script>
 -->
<script th:replace="~{include :: jsOsmIgnExtOl}"></script>


<script th:replace="~{include :: jsruchesnom('rucherListeOl')}"></script>
<script th:inline="javascript">
		/* exported ol, ruchers, nomRuches, lesRucherstxt,	lesRuchestxt, pasderuchetxt, 
		ruchertxt, couchemarqueursrucherstxt, ignCarteLiscense,
		pleinecrantxt, urlruches, _csrf_token, bootstrap */
		/* globals rucherListeIgn */
		const ruchers = /*[[${ruchers}]]*/ null;
		const nomRuches = /*[[${rucheNoms}]]*/ null;
		const lesRucherstxt = /*[[#{Ruchers}]]*/ null;
		const lesRuchestxt = /*[[#{Ruches}]]*/ null;
		const pasderuchetxt = /*[[#{PasDeRuche}]]*/ null;
		const ruchertxt = /*[[#{rucher}]]*/ null;
		const couchemarqueursrucherstxt = /*[[#{couchemarqueursruchers}]]*/ null;
		const pleinecrantxt = /*[[#{pleinecran}]]*/ null;
		const urlruches = /*[[@{/}]]*/ null;
		const _csrf_token = /*[[${_csrf.token}]]*/ null;
		document.addEventListener('DOMContentLoaded', () => rucherListeIgn(false));
	</script>
<script th:replace="~{include :: cssol}"></script>

<!--
<script th:replace="~{include :: cssGpPluginOpenLayers}"></script>
-->
<script th:replace="~{include :: cssIgnClassic}"></script>
<script th:replace="~{include :: cssIgnExt}"></script>


<style>
.ol-rotate {
	top: 4em;
}
</style>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/rucher/liste'}" th:text="#{Ruchers}"></a>
					<th:block th:text="#{sep}+#{carteOsm}"></th:block>
				</h1>
			</div>
			<div class="col">
				<a href="#" class="bi-question-lg" data-bs-toggle="popover"
					data-bs-trigger="focus" tabindex="0" role="button"
					th:attr="data-bs-content=#{aiderucherlisteignmarkers}"></a> <input
					type="text" th:placeholder="#{recherche}" id="searchtext">
				<span class="padicons"> <input type="checkbox"
					id="dragMarker" th:title="#{markerFixes}" checked>
				</span>
			</div>
		</div>
	</div>
	<div id="map"></div>
	<div id="popup" class="ol-popup">
		<a href="#" id="popup-closer" class="ol-popup-closer"></a>
		<div id="popup-content"></div>
	</div>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>