<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="include :: common_header(~{::script},~{::style},~{::link})">

<script th:inline="javascript">
	$().ready(function() {
		$('#groupe').on('change', function () {
			if ($(this).is(':checked')) {
				location =  [[@{'/rucher/historique2/'}+${rucher.id}+'/1']] ;
			} else {		
				location = [[@{'/rucher/historique2/'}+${rucher.id}+'/0']] ;	
			}
		});
	});
</script>

</head>

<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<th:block th:text="#{historique} + ' '"></th:block>
					<a th:href="@{'/rucher/'+${rucher.id}}"
						th:text="#{rucher} + ' ' + ${rucher.nom}"></a>
				</h1>
			</div>
			<div class="col">
				<span class="padicons">
       				<input type="checkbox" id="groupe" th:title="#{grouper}" th:checked="${group}" />
       				<label for="groupe" th:text="#{grouper}"></label>
				</span>
			</div>
		</div>
	</div>
	<div class="container-fluid " id="detailRucher">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th th:text="#{date}"></th>
					<th th:text="#{type}"></th>
					<th th:text="#{destProv}"></th>
					<th th:text="#{ruche}"></th>
					<th th:text="#{nb}"></th>
					<th th:text="#{etat}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="eve : ${histo}">
					<td><a th:text="${eve.get('date')}"
						th:href="@{'/evenement/'+${eve.get('eveid')}}"></a></td>
					<td th:text="${eve.get('type')}"></td>
					<td th:text="${eve.get('destProv')}"></td>
					<td th:text="${eve.get('ruche')}"></td>
					<td th:text="${eve.get('nbruches')}"></td>
					<td th:text="${eve.get('etat')}"></td>
				</tr>
		</table>
	</div>
	<footer th:replace="include::footer"></footer>
</body>
</html>