<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:replace="~{include :: jsChart}"></script>
<script th:replace="~{include :: jsChartZoomHammer}"></script>
<script th:replace="~{include :: jsChartZoom}"></script>
<script th:replace="~{include :: luxon}"></script>
<script th:replace="~{include :: chartjs-adapter}"></script>
<script th:replace="~{include :: jsruches}"></script>
<script th:inline="javascript">
	/* exported datesNb, ruchestxt, ruches, type, ajout, ajouttxt, retraittxt, datesRec, recNbRuch, pdsListe, pdsPPtxt */
	const datesNb = /*[[${datesNb}]]*/null;
	const ruchestxt = /*[[#{Ruches}]]*/null;
	const ruches = /*[[${ruches}]]*/null;
	const type = /*[[${type}]]*/null;
	const ajout = /*[[${ajout}]]*/null;
	const ajouttxt = /*[[#{Ajout}]]*/null;
	const retraittxt = /*[[#{Retrait}]]*/null;
	const datesRec = /*[[${datesRec}]]*/null;
	const recNbRuch = /*[[${recoltesNbRuches}]]*/null;
	const pdsListe = /*[[${poidsListe}]]*/null;
	const pdsPPtxt = /*[[#{poidsParRuches}]]*/null;
</script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/rucher/'+${rucher.id}}"
						th:text="#{rucher}+' '+${rucher.nom}"></a>
					<th:block th:text="#{sep}+#{transhumances}"></th:block>
				</h1>
			</div>
			<div class="col" th:unless="${#arrays.isEmpty(datesNb)}">
				<label th:text="#{AfficherEchelle}" for="scales"></label> <input
					type="checkbox" id="scales" checked /> &nbsp;
				<button id="zoomini" type="button" class="btn btn-primary btn-sm"
					th:text="#{ZoomIni}"></button>
			</div>
		</div>
	</div>
	<canvas th:unless="${#arrays.isEmpty(datesNb)}" id="ctx"></canvas>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>