<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="include :: common_header(~{::script},~{::style},~{::link})">

<script th:inline="javascript">
	$().ready(function() {
		const url = /*[[@{'/rucher/historiques/'}]]*/null;
		$('#groupe').on('change', function() {
			location = url + ($(this).is(':checked'));
		});
	});
</script>
</head>
<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<th:block th:text="#{transhumances}"></th:block>
				</h1>
			</div>
			<div class="col">
				<span class="padicons"> <input type="checkbox" id="groupe"
					th:title="#{grouper}" th:checked="${group}" /> <label for="groupe"
					th:text="#{grouper}"></label>
				</span>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th th:text="#{date}"></th>
					<th th:text="#{rucher}"></th>
					<th th:text="#{type}"></th>
					<th th:text="#{destProv}"></th>
					<th th:if="${group}" style="background-color: LemonChiffon"
						th:text="#{nb}"></th>
					<th style="background-color: LemonChiffon" th:text="#{ruche}"></th>
					<th style="background-color: PaleGoldenRod" th:text="#{nb}"></th>
					<th style="background-color: PaleGoldenRod" th:text="#{etat}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="hist : ${histo}">
					<td><a
						th:text="${#temporals.format(hist.date, 'yyyy/MM/dd HH:mm')}"
						th:href="@{'/evenement/'+${hist.eveid}+'?type=ajoutruche'}"></a></td>
					<td><a th:text="${hist.rucher.nom}"
						th:href="@{'/rucher/'+${hist.rucher.id}}"></a></td>
					<td th:text="${hist.type} ? #{Ajout} : #{Retrait}"></td>
					<td th:text="${#strings.listJoin(hist.destProv,' ')}"></td>
					<td th:if="${group}" th:text="${#lists.size(hist.ruche)}"></td>
					<td th:text="${#strings.listJoin(#lists.sort(hist.ruche),' ')}"></td>
					<td th:text="${#lists.size(hist.etat)}"></td>
					<td th:text="${#strings.listJoin(#lists.sort(hist.etat),' ')}"></td>
				</tr>
		</table>
	</div>
	<footer th:replace="include::footer"></footer>
</body>
</html>