<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:inline="javascript">
	$().ready(function() {
		$("#nom").focus();
		jQuery.validator.addMethod("nomExiste", function(value) {   
    		return $.inArray(value, [[${rucherNoms}]]) == -1;
			}, [[#{nomexiste}]]);
		$("#rucherForm").validate({
			rules : {
				nom : {
					required : true,
					nomExiste : true
				}
			}
		});
	});
</script>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTw9rDK4VaXs22ESK8zy31TFk0Wp4Q9fQ&callback=initMap">
</script>
</head>
<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:unless="${rucher.id}" th:text="#{ajouterRucher}"></h1>
				<h1 class="item" th:if="${rucher.id}">
					<th:block th:text="#{modification}"></th:block>
					<a th:href="@{'/rucher/'+${rucher.id}}"
						th:text="#{rucher} + ' ' + ${rucher.nom}"></a>
				</h1>
			</div>
		</div>
	</div>
	<form action="#" th:action="@{/rucher/sauve}" th:object="${rucher}"
		method="post" id="rucherForm">
		<input type="hidden" th:field="*{id}" /> <input type="hidden"
			th:field="*{depot}" />
		<div th:insert="includeForm :: nomField"></div>
		<div th:insert="includeForm :: actifField"></div>
		<div class="form-group">
			<label for="contact" th:text="#{contact}"></label> <select
				class="form-control" th:field="*{contact}">
				<option th:each="personne : ${personnes}" th:value="${personne.id}"
					th:text="${personne.nom}"></option>
			</select>
		</div>
		<div th:insert="includeForm :: latitudeField"></div>
		<div th:insert="includeForm :: longitudeField"></div>
		<div class="form-group">
			<label for="altitude" th:text="#{altitude}"></label>
			<input class="form-control"
				type="number" step="1" min="-200" max="4000"
				th:field="*{altitude}" th:errorclass="fieldError" />
		</div>
		<div class="form-group">
			<label for="adresse" th:text="#{adresse}"></label> <input type="text"
				class="form-control" th:field="*{adresse}"
				th:errorclass="fieldError" maxlength="255" />
		</div>
		<div class="form-group">
			<label for="ressource" th:text="#{ressource}"></label> <input
				type="text" class="form-control" th:field="*{ressource}"
				th:errorclass="fieldError" />
		</div>
		<div th:insert="includeForm :: commentaireField"></div>
		<div th:insert="includeForm :: BtnForm"></div>
	</form>
	<footer th:replace="include::footer"></footer>
</body>
</html>