<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:inline="javascript">
	const depotNPES = /*[[#{depotNePeutEtreSupprime}]]*/ null;
	const rucherNSRR = /*[[#{ruchernonsupprimerefrecolte}]]*/ null;
	const suppRucherEtEve = /*[[#{supprimerruchereteven}]]*/ null;
	const suppCeRucher = /*[[#{supprimercerucher?}]]*/ null;
	const rucherDepot = /*[[${rucher.depot}]]*/ null;
	const recolteHausses = /*[[${recolteHausses}]]*/ null;
	const evenements = /*[[${evenements}]]*/ null;
	const rucherNom = /*[[${rucher.nom}]]*/ null;
	const ruchertxt = /*[[#{rucher}]]*/ null;
	const listeRuches = /*[[#{listeRuches}]]*/ null;
	const buttontextprint = /*[[#{buttontextprint}]]*/ null;
	const buttontextcol = /*[[#{buttontextcol}]]*/ null;
	document.addEventListener("DOMContentLoaded", () => {
		$('.confirmationsupp').on('click', function () {
			if (rucherDepot) {
				alert(depotNPES);
				return false;
			} else {
				if(recolteHausses) {
					alert(rucherNSRR);
					return false;
				} else if (evenements) {
			        return confirm(suppRucherEtEve);			
				} else {
					return confirm(suppCeRucher);
				}
			}
	    });		
		new DataTable('#ruches', {
	        dom: '<"buttonsData" Blf>t<"buttonsData" ip>',
		    buttons: [
	             'csv',
	             {extend: 'pdf',  exportOptions: {columns: ':visible'}, 
	            	 title: ruchertxt + ' : ' + rucherNom + ' - ' + listeRuches + " " + (new Date()).toLocaleDateString()},
	                 {extend: 'print', text: buttontextprint},
	                 {extend: 'colvis', text: buttontextcol}
	         ]
	       });  
	});
</script>
</head>
<body>
	<nav th:replace="navbar::navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/rucher/liste'}" th:text="#{rucher}"></a>
					<th:block th:text="' '+${rucher.nom}"></th:block>
				</h1>
			</div>
			<div class="col">
				<a th:href="@{'/rucher/modifie/'+${rucher.id}}" 
				  class="bi-pencil" th:title="#{modifier}" aria-hidden="true"></a>
				&nbsp;
				<a th:href="@{'/rucher/Gg/'+${rucher.id}}" 
				  class="bi-google" th:title="#{carteGg}" aria-hidden="true"></a> 
				<a th:href="@{'/rucher/Ign/'+${rucher.id}}" th:title="#{carteIgn}"
					aria-hidden="true"><img th:src="@{'/images/france.svg'}"
					style="margin-bottom: 2px;" /></a>
				<a th:href="@{'/rucher/Osm/'+${rucher.id}}" 
				  class="bi-globe" th:title="#{carteOsm}" aria-hidden="true"></a>
				&nbsp;
				<a th:href="@{'/rucher/meteo/'+${rucher.id}}" 
				  class="bi-sun" th:title="#{meteo}" aria-hidden="true"></a> 
       			<a id="ajoutRuches" th:href="@{'/rucher/ruches/'+${rucher.id}}" 
       			  class="bi-grid-3x2-gap" th:title="#{ajoutRuches}" aria-hidden="true"></a>
       			<a id="supprime" th:href="@{'/rucher/supprime/'+${rucher.id}}" 
       			  class="confirmationsupp bi-trash" style="color:red" 
       			  th:title="#{supprimer}" aria-hidden="true"></a>&nbsp;
       			<a th:href="@{'/evenement/rucher/'+${rucher.id}}"
       			  class="padicons bi-list-ul" th:title="#{evenements}" aria-hidden="true"></a>
				<a th:href="@{'/evenement/rucher/commentaire/cree/'+${rucher.id}}"
				  class="bi-chat-text" th:title="#{evenementCommentaire}" aria-hidden="true"></a>  
				&nbsp;
				<a th:href="@{'/rucher/historique/'+${rucher.id}+'/true'}"
				  class="bi-truck-front" th:title="#{transhumances}" aria-hidden="true"></a>
			</div>
		</div>
	</div>
	<div class="container-fluid table-responsive" id="detailRucher">
		<table class="table table-sm table-bordered">
			<thead>
				<tr>
					<th th:if="${session.voirInactif}" th:text="#{actif}"></th>
					<th th:text="#{depot}"></th>
					<th th:text="#{contact}"></th>
					<th th:text="#{adresse}"></th>
					<th th:text="#{latitude}"></th>
					<th th:text="#{longitude}"></th>
					<th th:text="#{altitude}"></th>
					<th:block th:if="!${rucher.depot} and (${dist} != null)">
						<th th:text="#{distance}"></th>
						<th th:text="#{temps}"></th>
					</th:block>
					<th th:text="#{ressource}"></th>
					<th th:text="#{commentaire}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:if="${session.voirInactif}" th:text="${rucher.actif}? #{oui} : #{non}"></td>
					<td th:text="${rucher.depot}? #{oui} : #{non}"></td>
					<td><a th:href="@{'/personne/'+${rucher.contact?.id}}" th:text="${rucher.contact?.nom}"></a></td>
					<td th:text="${rucher.adresse}"></td>
					<td><a class="num" th:href="@{'geo:'+${rucher.latitude}+','+${rucher.longitude}}" 
					  th:text="${#numbers.formatDecimal(rucher.latitude,1,4)}"></a></td>
					<td class="num" th:text="${#numbers.formatDecimal(rucher.longitude,1,4)}"></td>
					<td class="num" th:text="${rucher.altitude}"></td>
					<th:block th:if="!${rucher.depot} and (${dist} != null)">
						<td th:text="${#numbers.formatDecimal(dist,1,3)}"></td>
						<td th:text="${temps}"></td>
					</th:block>
					<td th:text="${rucher.ressource}"></td>
					<td th:text="${rucher.commentaire}"></td>
				</tr>
			</tbody>
		</table>
		<h6	th:unless="${#arrays.length(ruches)}" th:text="#{Pasderuche}"></h6>
		<th:block th:if="${#arrays.length(ruches)}">
			<h6	th:if="${nbHausses}" th:text="#{listeXRuches(${#arrays.length(ruches)})} + '. ' + #{nbXHausses(${nbHausses})}"></h6>
			<h6	th:unless="${nbHausses}" th:text="#{listeXRuches(${#arrays.length(ruches)})}"></h6>
			<table class="table table-sm table-bordered table-striped" id="ruches">
				<thead>
				<tr>
					<th th:text="#{ruche}"></th>
					<th th:text="#{essaim}"></th>
					<th th:if="${session.voirInactif}" th:text="#{active}"></th>
					<th th:text="#{dateAcquisition}"></th>
					<th class="num" th:text="#{poidsVide}"></th>
					<th class="num" th:text="#{nbCadres}"></th>
					<th  class="num" th:text="#{nbCadresMax}"></th>
					<th  th:text="#{type}"></th>
					<th th:text="#{Hausses}"></th>
					<th th:text="#{commentaire}"></th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="ruche : ${ruches}">
						<td><a th:href="@{'/ruche/'+${ruche.id}}" th:text="${ruche.nom}"></a></td>
						<td><a th:href="@{'/essaim/'+${ruche.essaim?.id}}" th:text="${ruche.essaim?.nom}"></a></td>
						<td th:if="${session.voirInactif}" th:text="${ruche.active}? #{oui} : #{non}"></td>
						<td th:text="${ruche.dateAcquisition}"></td>
						<td class="num" th:text="${#numbers.formatDecimal(ruche.poidsVide,1,2,'DEFAULT')}"></td>
						<td class="num" th:text="${nbCadres[rucheStat.index]}"></td>
						<td class="num" th:text="${ruche.type?.nbCadresMax}"></td>
						<td th:text="${ruche.type?.nom}"></td>
						<td class="num" th:text="${listNbHausses[rucheStat.index]}"></td>
						<td th:text="${ruche.commentaire}"></td>
					</tr>
				</tbody>
			</table>
		</th:block>
		<br/>
		<h6 th:text="#{PasDeRecolte}" th:if="${#lists.isEmpty(poidsListe)}"></h6>	
		<table th:unless="${#lists.isEmpty(poidsListe)}" class="table table-sm table-bordered">			
		<thead>
			<tr>
				<th th:text="#{recolte}"></th>
				<td th:each="recolte : ${recoltesListe}">
					<a th:href="@{'/recolte/'+${recolte.id}}" th:text="${#temporals.format(recolte.date, 'yyyy/MM/dd')}"></a>
				</td>
				<th th:text="#{Total}"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th th:text="#{poidskg}"></th>
				<td th:each="poids : ${poidsListe}" th:text="${#numbers.formatDecimal(poids/1000.0,1,2,'DEFAULT')}"></td>
				<td th:text="${#numbers.formatDecimal(poidsTotal/1000.0,1,2,'DEFAULT')}"></td>		
			</tr>
			<tr>
				<th th:text="#{Ruches}"></th>
				<td th:each="nb : ${recoltesNbRuches}" th:text="${nb}"></td>
				<td></td>		
			</tr>
			<tr>
				<th th:text="#{poidsParRuches}"></th>
				<td th:each="poids, iterStat : ${poidsListe}" 
					th:text="${#numbers.formatDecimal(poids/recoltesNbRuches[iterStat.index]/1000.0,1,2,'DEFAULT')}"></td>
				<td></td>		
			</tr>
		</tbody>
	</table>
	</div>
	<br/>
	<footer th:replace="include::footer"></footer>
</body>
</html>