<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:inline="javascript">
		/* globals DataTable */
		const nomrucher = /*[[${rucher.nom}]]*/null;
		const buttontextprint = /*[[#{buttontextprint}]]*/null;
		const buttontextcol = /*[[#{buttontextcol}]]*/null;
		const transhumances = /*[[#{transhumances}]]*/null;
		const rucher = /*[[#{rucher}]]*/null;
		let depot = /*[[${depot}]]*/null;
		document.addEventListener('DOMContentLoaded', () => {
			const lH = location.href;
			const loc = lH.slice(0, lH.lastIndexOf('/', lH.length - 7) + 1);
			const depotTxt = 'Depot';
			document.getElementById('groupe').addEventListener('click', event => {
				location = loc + event.target.checked + '/' + depot;
			});
			document.getElementById('depot').addEventListener('click', () => {
				depot = !depot;
				table.draw();
			});
			const table = new DataTable('#transhumances', {
				scrollX: true,
				layout: {
					topStart: {
						buttons: [
							'csv',
							{
								extend: 'pdfHtml5',
								exportOptions: { columns: ':visible' },
								customize: function(doc) {
									let title = rucher + ' ' + nomrucher + ' ' + transhumances + ' ' +
										(new Date()).toLocaleDateString();
									const inputSearch = table.search();
									if (inputSearch.length !== 0) {
										title += ' <' + inputSearch + '>';
									}
									doc.content[0].text = title;
								}
							},
							{
								extend: 'print', text: buttontextprint,
								exportOptions: { columns: ':visible' },
							},
							{ extend: 'colvis', text: buttontextcol },
							'pageLength'
						]
					}
				}				
			});
			$.fn.dataTable.ext.search.push(
					function (settings, searchData) {
						return depot || (searchData[2] !== depotTxt);
					});
		});
	</script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/rucher/'+${rucher.id}}"
						th:text="#{rucher} + ' ' + ${rucher.nom}"></a>
					<th:block th:text="#{sep}+#{transhumances}"></th:block>
				</h1>
			</div>
			<div class="col">
				<a th:href="@{#{urldoc}+'3834_3476563104'}" class="bi-book"
					th:title="#{Doc}" target="_blank" aria-hidden="true"></a> <span
					class="padicons"> <input type="checkbox" id="groupe"
					th:title="#{grouper}" th:checked="${group}"> <label
					for="groupe" th:text="#{grouper}"></label> <input type="checkbox"
					id="depot" th:title="#{afficherDepot}" th:checked="${depot}">
					<label for="depot" th:text="#{depot}"></label>
				</span>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<table class="table table-bordered table-sm" id="transhumances">
			<thead>
				<tr>
					<th th:text="#{date}"></th>
					<th th:text="#{type}"></th>
					<th th:text="#{destProv}"></th>
					<th th:if="${group}" th:text="#{nb}"></th>
					<th th:text="#{ruche}"></th>
					<th th:text="#{nb}"></th>
					<th th:text="#{etat}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="hist : ${histo}" th:class="${hist.type} ? 'coloredrow'">
					<td><a
						th:text="${#temporals.format(hist.date, 'yyyy/MM/dd HH:mm')}"
						th:href="@{'/evenement/'+${hist.eveid}+'?type=ajoutruche'}"></a></td>
					<td th:text="${hist.type} ? #{Ajout} : #{Retrait}"></td>
					<td th:text="${#strings.listJoin(#lists.sort(hist.destProv),', ')}"></td>
					<td th:if="${group}" th:text="${#lists.size(hist.ruche)}"></td>
					<td th:text="${#strings.listJoin(#lists.sort(hist.ruche),' ')}"></td>
					<td th:text="${#lists.size(hist.etat)}"></td>
					<td th:text="${#strings.listJoin(#lists.sort(hist.etat),' ')}"></td>
				</tr>
		</table>
	</div>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>