<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:inline="javascript">
const _csrf_token = /*[[${_csrf.token}]]*/ null;
const _csrf_param_name = /*[[${_csrf.parameterName}]]*/ null;
const haussenoms = /*[[${haussenoms}]]*/ null;
const recolteHausses = /*[[${recolteHausses}]]*/ null;
const haussesupp = /*[[#{haussenonsupprimeerefrecolte}]]*/ null;
const supphausseeve = /*[[#{supprimerhausseevenement}]]*/ null;
const supphausse = /*[[#{supprimerhausse}]]*/ null;
const nomhaussesv = /*[[#{nomhaussesvirgule}]]*/ null;
const nomexistentdeja = /*[[#{nomexistentdeja}]]*/ null;
const evenements = /*[[${evenements}]]*/ null;
const urlclone = /*[[@{/hausse/clone/}]]*/ null;
const hausseid = /*[[${hausse.id}]]*/ null;
const hausses = /*[[#{Hausses}]]*/ null;
const creer = /*[[#{creer}]]*/ null;
$().ready(function() {
	$('.confirmation').on('click', function () {
		if(recolteHausses) {
			alert(haussesupp);
			return false;
		} else if (evenements) {
	        return confirm(supphausseeve);			
		} else {
			return confirm(supphausse);
		}
    });
	function nomexiste (value) {   
		return $.inArray(value, haussenoms) != -1;
		};
	$( "#clone" ).click(function() {
		function annule () {
			while (iajout--) {
				haussenoms.pop();
			}
		}
		const noms = prompt(nomhaussesv);
		let iajout = 0;
		if (noms == null || noms == "") {
		    return;
		} else {
			let tabNomExiste=[];
			let tabNomOk=[];
			noms.split(',').filter(s => s.trim()).map(item => item.trim()).forEach(function(item){
				if (nomexiste(item)) {
					tabNomExiste.push(item);
				} else {
					tabNomOk.push(item);
					/*[- ce nom ne doit pas être réutilisé -]*/
					haussenoms.push(item);
					iajout++;
				}
			});
			if (tabNomExiste.length > 0) {
				let promptexistedeja = hausses + ' : ' + tabNomExiste.join(',') + ' ' + nomexistentdeja;
				if (tabNomOk.length == 0) {
					alert(promptexistedeja);
					return;					
				}
				if (!confirm(promptexistedeja + '. ' + creer + ' ' + tabNomOk.join(',') + ' ?')) {
					annule();
					return;
				}
			} else if (tabNomOk.length === 0) { 
				return; 
			} else {
				if (!confirm(creer + ' ' + tabNomOk.join(',') + ' ?')) {
					annule();
					return;
				}
			}		
			let requestData = {nomclones : tabNomOk.join(',')};
		    requestData[_csrf_param_name] = _csrf_token;
		    $.post( urlclone + hausseid,
					requestData).done(function (data) { 
						alert( data );
						document.location.reload(true);
			});
		} 
	});
});
</script>
</head>
<body>
	<nav th:replace="navbar::navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/hausse/liste'}" th:text="#{hausse}"></a>
					<th:block th:text="' '+${hausse.nom}"></th:block>
				</h1>
			</div>
			<div class="col">
				<a th:href="@{'/hausse/modifie/'+${hausse.id}}" class="bi-pencil"
					th:title="#{modifier}" aria-hidden="true"></a> &nbsp; <span
					id="clone" class="bi-collection cursorpointer" th:title="#{cloner}"
					aria-hidden="true"> </span> <a id="supprime"
					th:href="@{'/hausse/supprime/'+${hausse.id}}"
					class="confirmation bi-trash" style="color: red"
					th:title="#{supprimer}" aria-hidden="true"></a>&nbsp; <a
					th:href="@{'/evenement/hausse/'+${hausse.id}}"
					class="padicons bi-list-ul" th:title="#{evenements}"
					aria-hidden="true"></a> <a
					th:href="@{'/evenement/hausse/commentaire/cree/'+${hausse.id}}"
					class="bi-chat-text" th:title="#{evenementCommentaire}"
					aria-hidden="true"></a> <a
					th:href="@{'/evenement/hausse/remplissage/cree/'+${hausse.id}}"
					class="bi-square-half" th:title="#{evenementRemplissage}"
					aria-hidden="true"></a>
			</div>
		</div>
	</div>
	<div class="container-fluid table-responsive" id="hausse">
		<table class="table table-sm table-bordered">
			<thead>
				<tr>
					<th th:if="${session.voirInactif}" th:text="#{active}"></th>
					<th th:text="#{dateAcquisition}"></th>
					<th th:text="#{poidsVide}"></th>
					<th th:text="#{nbCadres}"></th>
					<th th:text="#{nbCadresMax}"></th>
					<th th:text="#{commentaire}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:if="${session.voirInactif}"
						th:text="${hausse.active}? #{oui} : #{non}"></td>
					<td th:text="${hausse.dateAcquisition}"></td>
					<td class="num"
						th:text="${#numbers.formatDecimal(hausse.poidsVide,1,2,'DEFAULT')}"></td>
					<td class="num" th:text="${hausse.nbCadres}"></td>
					<td class="num" th:text="${hausse.nbCadresMax}"></td>
					<td th:text="${hausse.commentaire}"></td>
				</tr>
			</tbody>
		</table>
		<table class="table table-sm table-bordered"
			th:if="${(eveHausse != null) or (eveRucher != null) or (eveRuche != null)}">
			<thead>
				<tr>
					<th th:text="#{ruche}"></th>
					<th th:text="#{Ordre}"></th>
					<th th:text="#{dateRuche}"></th>
					<th th:text="#{rucher}"></th>
					<th th:text="#{daterucher}"></th>
					<th th:text="#{essaim}"></th>
					<th th:text="#{dateEssaim}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a th:href="@{'/ruche/'+${hausse.ruche?.id}}"
						th:text="${hausse.ruche?.nom}"></a></td>
					<td th:text="${hausse.ordreSurRuche}"></td>
					<td><a th:if="${eveHausse != null}"
						th:href="@{'/evenement/'+${eveHausse?.id}+'?type=hausse'}"
						th:text="${#temporals.format(eveHausse?.date, 'yyyy/MM/dd')}"></a>
					</td>
					<td><a th:href="@{'/rucher/'+${hausse.ruche?.rucher?.id}}"
						th:text="${hausse.ruche?.rucher?.nom}"></a></td>
					<td><a th:if="${eveRucher != null}"
						th:href="@{'/evenement/'+${eveRucher?.id}+'?type=hausse'}"
						th:text="${#temporals.format(eveRucher?.date, 'yyyy/MM/dd')}"></a>
					</td>
					<td><a th:href="@{'/essaim/'+${hausse.ruche?.essaim?.id}}"
						th:text="${hausse.ruche?.essaim?.nom}"></a></td>
					<td><a th:if="${eveRuche != null}"
						th:href="@{'/evenement/'+${eveRuche?.id}+'?type=hausse'}"
						th:text="${#temporals.format(eveRuche?.date, 'yyyy/MM/dd')}"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<th:block th:if="${(eveRempl != null) or (eveComm != null)}">
			<h6 th:text="#{derniersEve}"></h6>
			<table class="table table-sm table-bordered">
				<thead>
					<tr>
						<th
							th:text="#{remplissage}"></th>
						<th th:text="#{date}"></th>
						<th
							th:text="#{commentaireremplissage}"></th>
						<th
							th:text="#{COMMENTAIREHAUSSE}"></th>
						<th th:text="#{date}"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="num" th:text="${eveRempl?.valeur}"></td>
						<td><a th:if="${eveRempl != null}"
							th:href="@{'/evenement/'+${eveRempl?.id}+'?type=hausse'}"
							th:text="${#temporals.format(eveRempl?.date, 'yyyy/MM/dd')}"></a>
						</td>
						<td th:text="${eveRempl?.commentaire}"></td>
						<td th:text="${eveComm?.commentaire}"></td>
						<td><a th:if="${eveComm != null}"
							th:href="@{'/evenement/'+${eveComm?.id}+'?type=hausse'}"
							th:text="${#temporals.format(eveComm?.date, 'yyyy/MM/dd')}"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</th:block>
	</div>
	<footer th:replace="include::footer"></footer>
</body>
</html>