<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:replace="include :: jsdatepicker-fr"></script>
<script th:inline="javascript">
	$().ready(function() {
		$("#nom").focus();
		jQuery.validator.addMethod("nomExiste", function(value) {   
    		return $.inArray(value, [[${hausseNoms}]]) == -1;
			}, [[#{nomexiste}]]);
		if ((window.navigator.language == 'fr') || (window.navigator.language.indexOf('fr') != -1)) {
			$.datepicker.setDefaults(
				$.datepicker.regional['fr']
			);
		} else {
			$.datepicker.setDefaults(
					$.datepicker.regional['en']
				);
		}
		$.datepicker.setDefaults({
				dateFormat : 'yy-mm-dd',
				changeYear: true
			});
		$("#dateAcquisition").datepicker();
		$.validator.addMethod("lowerOrEqualThan", function(value, element, param) {
			let $otherElement = $(param);
			return parseInt(value, 10) <= parseInt($otherElement.val(), 10);
		});
		$("#hausseForm").validate({
			rules : {
				nom : {
					required : true,
					nomExiste : true
				},
				dateAcquisition : {
					"required" : true
				},
				poidsVide : {
					required : true
				},
				nbCadres : {
					required : true,
					digits : true,
					lowerOrEqualThan : "#nbCadresMax"
				},
				nbCadresMax : {
					required : true,
					digits : true
				}
			},
			messages : {
				nbCadres : [[#{saisirnbcadresinfmax}]]
			}
		});
	});
</script>
</head>
<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:unless="${hausse.id}" th:text="#{ajouterHausse}"></h1>
				<h1 class="item" th:if="${hausse.id}">
					<th:block th:text="#{modification}"></th:block>
					<a th:href="@{'/hausse/'+${hausse.id}}"
						th:text="#{hausse} + ' ' + ${hausse.nom}"></a>
				</h1>
			</div>
		</div>
	</div>
	<form action="#" th:action="@{/hausse/sauve}" th:object="${hausse}"
		method="post" id="hausseForm">
		<input type="hidden" th:field="*{id}" /> <input type="hidden"
			th:field="*{ruche}" /> <input type="hidden"
			th:field="*{ordreSurRuche}" />
		<div th:insert="includeForm :: nomField"></div>
		<div th:insert="includeForm :: activeField"></div>
		<div th:insert="includeForm :: dateAcquisitionField"></div>
		<div class="mb-3">
			<label class="form-label" for="poidsVide" th:text="#{poidskg}"></label> <input
				class="form-control" type="number" step="0.001" min="0" max="20"
				th:field="*{poidsVide}" th:errorclass="fieldError" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="nbCadres" th:text="#{nombredecadres}"></label> <input
				class="form-control" type="number" th:field="*{nbCadres}"
				th:errorclass="fieldError" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="nbCadresMax" th:text="#{nombredecadresmax}"></label> <input
				class="form-control" type="number" th:field="*{nbCadresMax}"
				th:errorclass="fieldError" />
		</div>
		<div th:insert="includeForm :: commentaireField"></div>
		<div th:insert="includeForm :: BtnForm"></div>
	</form>
	<footer th:replace="include::footer"></footer>
</body>
</html>