<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:inline="javascript">
$(document).ready(function() {
    const table = $('#hausses').DataTable({
    	
    	select: {style: 'multi+shift'},
    	
        dom: 'Blftip',
        buttons: [
	    	'csv',
	    	{extend: 'pdf', exportOptions: {columns: ':visible'}, 
	    		title: [[#{listeHausses}]] + " " + (new Date()).toLocaleDateString()},
	        {extend: 'print', text: [[#{buttontextprint}]]},
	        {extend: 'colvis', text: [[#{buttontextcol}]]}
        ]
    });
    
    function updateLinks( e, dt, type, indexes ) {
    	if ( type === 'row' ) {
    		let noms = "";
            table.rows( { selected: true } ).data().pluck( 0 ).each(function (value, index) {
            	const a = document.createElement('a');
            	a.innerHTML = value;
            	noms += a.textContent + ",";
            });
            if (noms) { 
            	noms = noms.substring(0, noms.length-1);
            	$('#commentaire').attr('href', [[@{/evenement/hausse/commentaireLot/}]] + noms);
            } else {
            	$('#commentaire').attr('href', "#");
            }      
        }
	}
    table.on( 'select deselect', updateLinks);
    $('.selection').on('click', function () {
    	if ($(this).attr("href") == "#") {
    		return confirm([[#{selecthaussestraiter}]]);	
    	}      
    });
    
});
</script>
</head>
<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:text="#{Hausses}"></h1>
			</div>
			<div class="col">
				<a id="cree" th:href="@{/hausse/cree}"
				  class="bi bi-plus-lg" th:title="#{ajouterHausse}" aria-hidden="true"></a>
				&nbsp;
				<a id="commentaire" href="#"
				  class="selection bi bi-chat-text" th:title="#{evenementsCommentaire}" aria-hidden="true"></a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<table class="table table-bordered table-striped dt-responsive" id="hausses">
			<thead>
				<tr>
					<th th:text="#{nom}"></th>
					<th th:text="#{ruche}"></th>
					<th th:text="#{essaim}"></th>
					<th th:text="#{rucher}"></th>
					<th th:text="#{dateAcquisition}"></th>
					<th th:if="${session.voirInactif}" th:text="#{active}"></th>
					<th th:text="#{poidsVide}"></th>
					<th th:text="#{nbCadres}"></th>
					<th th:text="#{nbCadresMax}"></th>
					<th th:text="#{commentaire}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="hausse : ${hausses}">
					<td><a th:href="@{'/hausse/'+${hausse.id}}"
						th:text="${hausse.nom}"></a></td>
					<td><a th:href="@{'/ruche/'+${hausse.ruche?.id}}"
						th:text="${hausse.ruche?.nom}"></a></td>
					<td><a th:href="@{'/essaim/'+${hausse.ruche?.essaim?.id}}"
						th:text="${hausse.ruche?.essaim?.nom}"></a></td>
					<td><a th:href="@{'/rucher/'+${hausse.ruche?.rucher?.id}}"
						th:text="${hausse.ruche?.rucher?.nom}"></a></td>
					<td th:text="${hausse.dateAcquisition}"></td>
					<td th:if="${session.voirInactif}" th:text="${hausse.active}? #{oui} : #{non}"></td>
					<td class="num" th:text="${#numbers.formatDecimal(hausse.poidsVide,1,2,'DEFAULT')}"></td>
					<td class="num" th:text="${hausse.nbCadres}"></td>
					<td class="num" th:text="${hausse.nbCadresMax}"></td>
					<td th:text="${hausse.commentaire}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="include::footer"></footer>
</body>
</html>