<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:replace="include :: jsdatetimepicker"></script>
<link th:replace="include :: cssdatetimepicker" />
<script th:replace="include :: localejsdatetimepicker"></script>
<script>
	$().ready(function() {
		$("#valeur").focus();
		$("#evenementForm").validate({
			rules : {
				date : {
					required : true
				},
				commentaire : {
					maxlength : 255
				},
				valeur : {
					required : true,
					digits : true,
					maxlength : 64
				}
			}
		});
	});
</script>
</head>
<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<th:block th:text="#{remplissage} + ' '"></th:block>
					<a th:href="@{'/hausse/'+${hausseId}}"
						th:text="#{hausse} + ' ' + ${hausse.nom}"></a>
				</h1>
				<th:block th:text="${valeurHAUSSEREMPLISSAGE}?
					${valeurHAUSSEREMPLISSAGE}+'% le '+${#temporals.format(dateHAUSSEREMPLISSAGE, 'dd/MM/yyyy')}:''">
		        </th:block>
			</div>
		</div>
	</div>
	<form action="#" th:action="@{'/evenement/hausse/sauve/'+${hausse.id}}"
		method="post" id="evenementForm">
		<input type="hidden" id="typeEvenement" name="typeEvenement"
			value="HAUSSEREMPLISSAGE" />
		<div th:replace="includeForm :: date"></div>
		<div class="mb-3">
			<label class="form-label" th:text="#{remplissage}" for="valeur"></label> <input
				class="form-control" type="number" id="valeur" name="valeur" />
		</div>
		<div th:replace="includeForm :: commentaire"></div>
		<div th:replace="includeForm :: BtnForm"></div>
	</form>
	<footer th:include="include::footer"></footer>
</body>
</html>