<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:replace="~{include :: moment}"></script>
<script th:replace="~{include :: jquerydaterangepicker}"></script>
<link th:replace="~{include :: cssjquerydaterangepicker}">
<script th:replace="~{include :: jsruchesnom('evenementListe')}"></script>
<script th:inline="javascript">
		/* exported Evenements, buttontextprint, buttontextcol */
		/* globals evenementListe */
		const Evenements = /*[[#{evenementstraitement}]]*/ null;
		const buttontextprint = /*[[#{buttontextprint}]]*/null;
		const buttontextcol = /*[[#{buttontextcol}]]*/null;
		document.addEventListener('DOMContentLoaded', () => {
			document.getElementById('tous').addEventListener('change', event => {
				event.target.form.submit();
			});
			document.getElementById('groupe').addEventListener('change', event => {
				event.target.form.submit();
			});
			evenementListe(true);
		});
	</script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}">Menu</nav>
	<div class="container-fluid">
		<div class="row">
			<div id="titre" class="col">
				<h1 class="item"
					th:text="${tous} ? #{traitement} : #{eveDebutTraitement}"></h1>
			</div>
			<div class="col">
				<span class="padicons"> <input form="evenementForm"
					type="checkbox" id="tous" name="tous" th:checked="${tous}">
					<label for="tous" th:text="#{tous}"
					th:title="#{TraitementDebutFin}"></label>
				</span> <span class="padicons"> <input form="evenementForm"
					type="checkbox" id="groupe" name="groupe" th:checked="${groupe}">
					<label for="groupe" th:text="#{grouper}" th:title="#{GrouperTrt}"></label>
				</span>
			</div>
			<div
				th:insert="~{includeForm :: evenementListeDates(retController='/evenement/essaim/listeTraitement')}"
				class="col"></div>
		</div>
	</div>
	<div th:unless="${groupe}" class="container-fluid">
		<table class="table table-bordered table-striped table-sm"
			id="evenements">
			<thead>
				<tr>
					<th th:text="#{date}"></th>
					<th th:if="${tous}" th:text="#{type}"></th>
					<th th:text="#{ruche}"></th>
					<th th:text="#{essaim}"></th>
					<th th:text="#{rucher}"></th>
					<th th:text="#{Traitement}"></th>
					<th th:text="#{commentaire}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="e : ${evenements}">
					<td><a
						th:text="${#temporals.format(e.date, 'yyyy/MM/dd HH:mm')}"
						th:href="@{'/evenement/'+${e.id}+'?type=traitement'}"></a></td>
					<td th:if="${tous}"
						th:text="${T(ooioo.ruches.evenement.TypeEvenement).ESSAIMTRAITEMENT.equals(e.type)}?#{Debut}:#{Fin}">
					</td>
					<td th:text="${e.ruche?.nom}"></td>
					<td th:text="${e.essaim?.nom}"></td>
					<td th:text="${e.rucher?.nom}"></td>
					<td th:text="${e.valeur}"></td>
					<td th:text="${e.commentaire}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:if="${groupe}" class="container-fluid">
		<table class="table table-bordered table-striped table-sm"
			id="evenements">
			<thead>
				<tr>
					<th class="txtGauche" th:text="#{date}"></th>
					<th th:if="${tous}" th:text="#{type}"></th>
					<th th:text="#{rucher}"></th>
					<th th:text="#{Traitement}"></th>
					<th th:text="#{nb}"></th>
					<th th:text="#{Ruches}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="e : ${evenements}"
					th:with="date=${#conversions.convert(e[0], 'java.time.LocalDateTime')}">
					<td class="txtGauche"
						th:text="${#temporals.format(date, 'yyyy/MM/dd')}"></td>
					<td th:if="${tous}" th:text="(${e[2]}=='5')?#{Debut}:#{Fin}">
					</td>
					<td th:text="${e[1]}"></td>
					<td th:text="${tous ? e[3] : e[2]}"></td>
					<td th:text="${tous ? e[4] : e[3]}"></td>
					<td th:text="${tous ? e[5] : e[4]}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>