<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<link th:replace="include :: cssgantt" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/gantt.css}" />
<!--/* <script th:replace="include :: moment"></script> */-->
<!--/* <script th:replace="include :: snapsvg"></script> */-->
<script th:replace="include :: jsgantt"></script>
<script th:src="@{/js/ruches/eveGantt.js}"></script>
<script th:inline="javascript">
	const tasks = /*[(${tasks})]*/null;
	const ruchesurl = /*[[@{/}]]*/null;
	window.onload = function() {
		eveGantt(true);
	}
</script>
</head>
<body>
	<nav th:replace="include :: navbar">Menu</nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/evenement/listeNotif/true'}"
						th:text="#{Notifications}"></a>
					<th:block th:text="' '+#{Gantt}"></th:block>
				</h1>
			</div>
		</div>
	</div>
	<div class="card" style="overflow: scroll">
		<svg id="gantt"></svg>
	</div>
	<div class="mx-auto mt-3 btn-group" role="group">
		<button data-sel="Quarter Day" th:text="#{QuartJour}" type="button"
			class="btn btn-outline-info btn-sm"></button>
		<button data-sel="Half Day" th:text="#{DemiJour}" type="button"
			class="btn btn-outline-info btn-sm"></button>
		<button data-sel="Day" th:text="#{Jour}" type="button"
			class="btn btn-outline-info btn-sm active" aria-pressed="true"></button>
		<button data-sel="Week" th:text="#{Semaine}" type="button"
			class="btn btn-outline-info btn-sm"></button>
		<button data-sel="Month" th:text="#{Mois}" type="button"
			class="btn btn-outline-info btn-sm"></button>
	</div>
</body>
</html>
