<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:replace="~{include :: jsdatetimepicker}"></script>
<link th:replace="~{include :: cssdatetimepicker}">
<script th:replace="~{include :: localejsdatetimepicker}"></script>
<script th:replace="~{include :: jsruches}"></script>
<script th:inline="javascript">
	/* exported complet, traitements */
	const complet = /*[[${complet}]]*/null;
	const traitements = /*[[${T(ooioo.ruches.evenement.TypeTraitement).values()}]]*/null;
</script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:unless="${evenement.id}">
					<a th:href="@{'/evenement/liste'}" th:text="#{evenements}"></a>
					<th:block th:text="#{sep} + #{Ajout}"></th:block>
				</h1>
				<h1 class="item" th:if="${evenement.id}">
					<a th:href="@{'/evenement/'+${evenement.id}}"
						th:text="#{evenement} + ' ' + ${#temporals.format(evenement.date, 'yyyy/MM/dd HH:mm')}"></a>
					<th:block th:text="#{sep} + #{modification}"></th:block>
				</h1>
			</div>
			<div class="col">
				<span class="padicons"> <input type="checkbox"
					id="showruches"> <label class="form-label" for="showruches"
					th:title="#{afficherrucheetc}" th:text="#{afficherPlus}"></label>
				</span>
			</div>
		</div>
	</div>
	<form action="#" th:action="@{/evenement/sauve}"
		th:object="${evenement}" method="post" id="evenementForm">
		<input type="hidden" th:field="*{id}">
		<div th:replace="~{includeForm :: dateField}"></div>
		<div class="form-floating mb-3">
			<input placeholder="" class="form-control" th:field="*{valeur}"
				th:errorclass="fieldError" maxlength="64"> <label
				class="form-label" for="valeur" th:text="#{valeur}"></label>
		</div>
		<div th:replace="~{includeForm :: commentaireField}"></div>
		<div class="form-floating mb-3 ruches" style="display: none">
			<select class="form-control" th:field="*{type}">
				<option
					th:each="typeEvenement : ${T(ooioo.ruches.evenement.TypeEvenement).values()}"
					th:value="${typeEvenement}" th:text="#{${typeEvenement}}"></option>
			</select> <label class="form-label" for="type" th:text="#{typeEvenement}"></label>
		</div>
		<div class="form-floating mb-3 ruches" style="display: none">
			<select class="form-control" th:field="*{ruche}">
				<option th:text="#{aucune}" value=""></option>
				<option th:each="rucheopt : ${ruches}" th:value="${rucheopt.id}"
					th:text="${rucheopt.nom}"></option>
			</select> <label class="form-label" for="ruche" th:text="#{ruche}"></label>
		</div>
		<div class="form-floating mb-3 ruches" style="display: none">
			<select class="form-control" th:field="*{essaim}">
				<option th:text="#{aucun}" value=""></option>
				<option th:each="essaimopt : ${essaims}" th:value="${essaimopt.id}"
					th:text="${essaimopt.nom}"></option>
			</select> <label class="form-label" for="essaim" th:text="#{essaim}"></label>
		</div>
		<div class="form-floating mb-3 ruches" style="display: none">
			<select class="form-control" th:field="*{rucher}">
				<option th:text="#{aucun}" value=""></option>
				<option th:each="rucheropt : ${ruchers}" th:value="${rucheropt.id}"
					th:text="${rucheropt.nom}"></option>
			</select> <label class="form-label" for="rucher" th:text="#{rucher}"></label>
		</div>
		<div class="form-floating mb-3 ruches" style="display: none">
			<select class="form-control" th:field="*{hausse}">
				<option th:text="#{aucune}" value=""></option>
				<option th:each="hausseopt : ${hausses}" th:value="${hausseopt.id}"
					th:text="${hausseopt.nom}"></option>
			</select> <label for="hausse" th:text="#{hausse}"></label>
		</div>
		<div th:replace="~{includeForm :: BtnForm}"></div>
	</form>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>