<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:replace="include :: moment"></script>
<script th:replace="include :: jquerydaterangepicker"></script>
<link th:replace="include :: cssjquerydaterangepicker"/>
<script th:src="@{/js/ruches/evenementListe.js}"></script>
<script th:inline="javascript">
	const listeEvenements = [[#{listeEvenements}]];
	const buttontextprint = [[#{buttontextprint}]];
	const buttontextcol = [[#{buttontextcol}]];
	$(document).ready(function() {
		evenementListe(true);
	});
</script>
</head>
<body>
	<nav th:replace="include :: navbar">Menu</nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<th:block th:text="#{evenements}+ ' '"></th:block>
	     			<a th:if="${type}=='ruche'"
						th:href="@{'/ruche/'+${itemId}}"
						th:text="#{ruche} + ' ' + ${rucheNom}"></a>
					<a th:if="${type}=='rucher'"
						th:href="@{'/rucher/'+${itemId}}"
						th:text="#{rucher} + ' ' + ${rucherNom}"></a>
					<a th:if="${type}=='essaim'"
						th:href="@{'/essaim/'+${itemId}}"
						th:text="#{essaim} + ' ' + ${essaimNom}"></a>
					<a th:if="${type}=='hausse'"
						th:href="@{'/hausse/'+${itemId}}"
						th:text="#{hausse} + ' ' + ${hausseNom}"></a>
				</h1>			
			</div>
			<th:block th:unless="${rucheId} or ${rucherId} or ${essaimId} or ${hausseId}">
				<div class="col" >
					<a id="cree" th:href="@{/evenement/cree}"
					  class="bi bi-plus-lg" th:title="#{evenementCree}" aria-hidden="true">
	   				</a>
				</div>
				<div th:insert="includeForm :: evenementListeDates(retController='/evenement/liste')" class="col">
				</div>
			</th:block>
		</div>
	</div>
	<div class="container-fluid">
		<table class="table table-bordered table-striped dt-responsive" id="evenements">
			<thead>
				<tr>
					<th th:text="#{date}"></th>
					<th th:text="#{evenement}"></th>
					<th th:unless="${rucheId}" style="background-color:PaleGoldenRod" th:text="#{ruche}"></th>
					<th th:unless="${essaimId}" style="background-color:PaleGoldenRod" th:text="#{essaim}"></th>
					<th th:unless="${rucherId}" style="background-color:PaleGoldenRod" th:text="#{rucher}"></th>
					<th th:unless="${hausseId}" style="background-color:PaleGoldenRod" th:text="#{hausse}"></th>
					<th style="background-color:LemonChiffon" th:text="#{valeur}"></th>
					<th style="background-color:LemonChiffon" th:text="#{commentaire}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="evenement : ${evenements}">
					<td>
						<a th:text="${#temporals.format(evenement.date, 'yyyy/MM/dd HH:mm')}"
							th:with="url='/evenement/'+${evenement.id}+
								(${type}?('?type='+${type}+'&itemId='+${itemId}):'')"
							th:href="@{${url}}"></a>		
					</td>
					<td th:text="#{${evenement.type}}"></td>
					<td th:unless="${rucheId}" th:text="${evenement.ruche?.nom}"></td>
					<td th:unless="${essaimId}" th:text="${evenement.essaim?.nom}"></td>
					<td th:unless="${rucherId}" th:text="${evenement.rucher?.nom}"></td>
					<td th:unless="${hausseId}" th:text="${evenement.hausse?.nom}"></td>
					<th:block th:switch="${evenement.type}">
						<td class="num" th:case="${T(ooioo.ruches.evenement.TypeEvenement).ESSAIMSUCRE}" th:text="${#numbers.formatDecimal(evenement.valeur,1,2,'COMMA')}"></td>
						<td class="num" th:case="${T(ooioo.ruches.evenement.TypeEvenement).RUCHEPESEE}"  th:text="${#numbers.formatDecimal(evenement.valeur,1,2,'COMMA')}"></td>
						<td class="num" th:case="*" th:text="${evenement.valeur}"></td>						
					</th:block>
					<td th:text="${evenement.commentaire}"></td>
				</tr>
				
				<!--[*  
				<tr th:each="recolteHausse : ${recolteHausses}">
					<td>
						<a th:text="${#temporals.format(recolteHausse.recolte.date, 'yyyy/MM/dd HH:mm')}"></a>		
					</td>
					<td th:text="#{Hausserecolte}"></td>
					<td th:unless="${rucheId}" th:text="${recolteHausse.ruche?.nom}"></td>
					<td th:unless="${essaimId}" th:text="${recolteHausse.essaim?.nom}"></td>
					<td th:unless="${rucherId}" th:text="${recolteHausse.rucher?.nom}"></td>
					<td th:unless="${hausseId}" th:text="${recolteHausse.hausse?.nom}"></td>
					<td th:text="${#numbers.formatDecimal(recolteHausse.poidsAvant - recolteHausse.poidsApres,1,2,'COMMA')}"></td>
				</tr>					
				*]-->
					
			</tbody>
		</table>
	</div>
	<footer th:replace="include::footer"></footer>
</body>
</html>
