<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<!--/* <script th:replace="include :: snapsvg"></script> */-->
<link th:replace="include :: cssgantt" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/gantt.css}" />
<script th:replace="include :: moment"></script>
<script th:replace="include :: snapsvg"></script>
<script th:replace="include :: jsgantt"></script>
<script th:inline="javascript">
	// https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#text-inlining
	const tasks = /*[(${tasks})]*/null;
	/* src/index.js
	const default_options = {
	        header_height: 50,
	        column_width: 30,
	        step: 24,
	        view_modes: [...Object.values(VIEW_MODE)],
	        bar_height: 20,
	        bar_corner_radius: 3,
	        arrow_curve: 5,
	        padding: 18,
	        view_mode: 'Day',
	        date_format: 'YYYY-MM-DD',
	        popup_trigger: 'click',
	        custom_popup_html: null,
	        language: 'en',
	    };
	 */
	$(document).ready(function() {
		let gantt = new Gantt("#gantt", tasks, {
			view_mode : 'Day',
			language : 'fr',
			
			
			custom_popup_html: function(task) {
				  // the task object will contain the updated
				  // dates and progress value
				  const end_date = task.end;
				  // https://frappe.io/gantt/js/index.js
				  // task._end serait la fin de la tâche mise à jour
				  //   .format est inconnu, pourquoi ?
				  // Utiliser Inspecteur firefox sur https://frappe.io/gantt
				  //  pour trouver les paramètres de la classe details-container
				  //  ainsi que sur la page ruches/evenement/ganttNotif
				  //  voir css/gantt.css
				  //  white-space: nowrap rend la ligne de commentaire trop longue
				  //    utilisé espace insécable
				  return `
					<div class="details-container">
					  <p>${task.name}<p>
					  <p>Fin&nbsp;:&nbsp;${end_date}</p>
					  <p>${task.obj}</p>
					  <p>${task.com}</p>
					</div>
				  `;
				}
		
		
		});
		$(".btn-group").on("click", "button", function() {
			const btn = $(this);
			const mode = btn.attr('data-sel');
			gantt.change_view_mode(mode);
			btn.parent().find('button').removeClass('active');
			btn.addClass('active');
		});
	});
</script>
</head>
<body>
	<nav th:replace="include :: navbar">Menu</nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/evenement/listeNotif/true'}"
						th:text="#{Notifications}"></a>
					<th:block th:text="' '+#{Gantt}"></th:block>
				</h1>
			</div>
		</div>
	</div>
	<div class="card" style="overflow: scroll">
		<svg id="gantt"></svg>
	</div>
	<div class="mx-auto mt-3 btn-group" role="group">
		<button data-sel="Quarter Day" th:text="#{QuartJour}" type="button"
			class="btn btn-outline-info btn-sm"></button>
		<button data-sel="Half Day" th:text="#{DemiJour}" type="button"
			class="btn btn-outline-info btn-sm"></button>
		<button data-sel="Day" th:text="#{Jour}" type="button"
			class="btn btn-outline-info btn-sm active" aria-pressed="true"></button>
		<button data-sel="Week" th:text="#{Semaine}" type="button"
			class="btn btn-outline-info btn-sm"></button>
		<button data-sel="Month" th:text="#{Mois}" type="button"
			class="btn btn-outline-info btn-sm"></button>
	</div>
</body>
</html>
