<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:inline="javascript">
		const suppeve = /*[[#{supprimerevenement}]]*/null;
		document.addEventListener('DOMContentLoaded', () => {
			document.getElementById('supprime').addEventListener('click', event => {
				if (confirm(suppeve)) {
					return;
				}
				event.preventDefault();
			});
		});
	</script>
</head>

<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="~{include::evedettitre}"></div>
			<div class="col">
				<a th:href="@{'/evenement/ruche/pesee/modifie/'+${evenement.id}}">
					<span class="bi-pencil" th:title="#{modifier}" aria-hidden="true"></span>
				</a>&nbsp; <a
					th:href="@{'/evenement/modifie/'+${evenement.id}+'?complet=true'}">
					<span class="bi-pencil" style="color: red"
					th:title="#{modifierTout}" aria-hidden="true"></span>
				</a> <a id="supprime"
					th:href="@{'/evenement/supprime/'+${evenement.id}}"> <span
					class="bi-trash" style="color: red" th:title="#{supprimer}"
					aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="container-fluid table-responsive">
		<table class="table table-sm table-bordered table-striped"
			id="evenements">
			<thead>
				<tr>
					<th th:text="#{evenement}"></th>
					<th th:text="#{ruche}"></th>
					<th th:text="#{essaim}"></th>
					<th th:text="#{rucher}"></th>
					<th th:text="#{poidskg}"></th>
					<th th:text="#{commentaire}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="#{${evenement.type}}"></td>
					<td><a th:href="@{'/ruche/'+${evenement.ruche?.id}}"
						th:text="${evenement.ruche?.nom}"></a></td>
					<td><a th:href="@{'/essaim/'+${evenement.essaim?.id}}"
						th:text="${evenement.essaim?.nom}"></a></td>
					<td><a th:href="@{'/rucher/'+${evenement.rucher?.id}}"
						th:text="${evenement.rucher?.nom}"></a></td>
					<td class="num" th:text="${evenement.valeur}"></td>
					<td th:text="${evenement.commentaire}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="~{include::footer}"></footer>
</body>

</html>