<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:replace="include :: jsdatetimepicker"></script>
<link th:replace="include :: cssdatetimepicker"/>
<script th:replace="include :: localejsdatetimepicker"></script>
<script th:inline="javascript">
	$().ready(function() {
		if ([[${complet}]] === "false") {
			$('#showruches').prop('checked', false);
			$(".ruches").hide();
		}
		$('#showruches').on('click', function () {
			if($(this).is(":checked")) {
				$(".ruches").show();
			} else {
				$(".ruches").hide();
			}
		});
		$("#evenementForm").validate({
			rules : {
				date : {
					required : true
				},
				valeur : {
					number : true
				}
			}
		});
	});
</script>
</head>
<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:unless="${evenement.id}" th:text="#{ajouterEvenement}"></h1>
				<h1 class="item" th:if="${evenement.id}">
					<th:block th:text="#{modification}"></th:block>
					<a th:href="@{'/evenement/'+${evenement.id}}"
						th:text="#{evenement} + ' ' + ${#temporals.format(evenement.date, 'yyyy/MM/dd HH:mm')}"></a>
				</h1>
			</div>
			<div class="col">
       			<span class="padicons">
       				<input type="checkbox" id="showruches" th:title="#{afficherrucheetc}" checked/>
				</span>
			</div>
		</div>
	</div>
	<form action="#" th:action="@{/evenement/sauve}"
		th:object="${evenement}" method="post" id="evenementForm">
		<input type="hidden" th:field="*{id}" />
		<div th:insert="includeForm :: dateField"></div>
		<div class="form-group">
			<label for="typeEvenement" th:text="#{typeEvenement}"></label> <select
				class="form-control" th:field="*{type}">
				<option
					th:each="typeEvenement : ${T(ooioo.ruches.evenement.TypeEvenement).values()}"
					th:value="${typeEvenement}" th:text="#{${typeEvenement}}"></option>
			</select>
		</div>
		<div class="form-group ruches">
			<label for="ruche" th:text="#{ruche}"></label> <select
				class="form-control" th:field="*{ruche}">
				<option th:text="#{aucune}" value=""></option>
				<option th:each="rucheopt : ${ruches}" th:value="${rucheopt.id}"
					th:text="${rucheopt.nom}"></option>
			</select>
		</div>
		<div class="form-group ruches">
			<label for="essaim" th:text="#{essaim}"></label> <select
				class="form-control" th:field="*{essaim}">
				<option th:text="#{aucun}" value=""></option>
				<option th:each="essaimopt : ${essaims}" th:value="${essaimopt.id}"
					th:text="${essaimopt.nom}"></option>
			</select>
		</div>
		<div class="form-group ruches">
			<label for="rucher" th:text="#{rucher}"></label> <select
				class="form-control" th:field="*{rucher}">
				<option th:text="#{aucun}" value=""></option>
				<option th:each="rucheropt : ${ruchers}" th:value="${rucheropt.id}"
					th:text="${rucheropt.nom}"></option>
			</select>
		</div>
		<div class="form-group ruches">
			<label for="hausse" th:text="#{hausse}"></label> <select
				class="form-control" th:field="*{hausse}">
				<option th:text="#{aucune}" value=""></option>
				<option th:each="hausseopt : ${hausses}" th:value="${hausseopt.id}"
					th:text="${hausseopt.nom}"></option>
			</select>
		</div>
		<div class="form-group">
			<label for="valeur" th:text="#{valeur}"></label> <input
				class="form-control" type="number" step="0.001"
				th:field="*{valeur}" th:errorclass="fieldError" maxlength="64" />
		</div>
		<div th:insert="includeForm :: commentaireField"></div>
		<div th:insert="includeForm :: BtnForm"></div>
	</form>
	<footer th:include="include::footer"></footer>
</body>
</html>