.details-container {
	background: #fff;
	display: inline-block;
	padding: 12px;
}

.popup-wrapper {
	display: inline-block;
}

.details-container p {
  font-size: 12px;
  margin-bottom: 0px;
  color: #666;
}