<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security"j>
<head
	th:replace="include :: common_header(~{::script},~{::style},~{::link})">
</head>
<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="logout"
		sec:authorize="isAuthenticated()">
		<span th:text="#{connecte}"></span> : <span id="login" sec:authentication="name"></span>
		| <span th:text="#{roles}"></span> : <span id="role" 
		th:text="${#authentication.getAuthorities()[0].getAuthority().equals('ROLE_')?'Aucun':'Admin'}"></span>
		<div>
			<form action="#" th:action="@{/logout}" method="post">
				<input type="submit" th:value="#{deconnexion}" />
			</form>
		</div>
	</div>
	<br />
	<h1 class="item messageinfo" th:if="${message}" th:text="${message}"></h1>
	<div class="row">
		<header class="col jumbotron jumbotron-fluid">
			<div class="container-fluid">
				<h1 
					id="titre" class="display-4 elegantshd"
					th:utext="${@environment.getProperty('accueil.titre')}"></h1>
			</div>
		</header>
	</div>
	<footer th:replace="include::footer"></footer>
</body>
</html>