<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="#{connexion}"></title>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script th:inline="javascript">
	function showhidepass() {
		let x = document.getElementById("password");
		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}
	}
	window.onload = function() {
		document.getElementById("username").focus();
	}
</script>

</head>
<body>
	<div th:if="${param.error}" th:text="#{nomOuPassIncorrect}"></div>
	<div th:if="${param.logout}" th:text="#{deconnecte}"></div>
	<br />
	<form th:action="@{/login}" method="post">
		<label for="username" th:text="#{nomUtilisateur}"></label><br/>
		<input type="text" id="username" name="username" />
		<br/><br/>
		<label for="password" th:text="#{motDePasse}"></label><br/>
		<input type="password" id="password" name="password" />
		<br/><br/>
		<input type="checkbox" id="showhide"
				name="showhide" onclick="showhidepass()" />
		<label for="showhide" th:text="#{affichermotdepasse}"></label>
		<br/><br/>
		<input type="submit" th:value="#{connexion}" />
	</form>
	<br />
	<br />
	<a th:href="@{'/forgotPassword'}"
		th:utext="#{forgotPassword}"></a>
</body>
</html>