<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="#{forgotPassword}"></title>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>        
	<br />
	<form th:action="@{/resetPassword}" method="post" id="resetPassword">
		<div class="mb-3">
			<label class="form-label" for="email" th:text="#{email}"></label> 
			<input
				type="text" class="form-control" id="email" name="email" />
		</div>
		<br/>
		<div class="mb-3">
			<input class="btn btn-primary" type="submit" th:value="#{resetPassword}" />
		</div>
	</form>
	<br/>
</body>
</html>