<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
</head>
<body>        
	<br>
	<form th:action="@{/resetPasswordFin}" method="post" id="resetPasswordFin">
		<input type="hidden" id="token" name="token" th:value="${token}" />
		<div class="mb-3">
			<label class="form-label" for="password" th:text="#{motDePasse}"></label> 
			<input
				 type="password" class="form-control" id="password" name="password" value="" autofocus />
		</div>
		<br/>
		<div class="mb-3">
			<input class="btn btn-primary" type="submit" th:value="#{resetPassword}" />
		</div>
	</form>
	<br/>
</body>
</html>