<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
	<script th:inline="javascript">
		const notListEmpty = /*[[${not #lists.isEmpty(ruchers)}]]*/ null;
		const pnnonsupp = /*[[#{personnenonsupprimeerefrrucher}]]*/ null;
		const supppers = /*[[#{supprimercettepersonne}]]*/ null;
		document.addEventListener('DOMContentLoaded', () => {
			document.getElementById('supprime').addEventListener('click', (event) => {
				if (notListEmpty) {
					alert(pnnonsupp);
				} else if (confirm(supppers)) {
					return;
				}
				event.preventDefault();
			});
		});
	</script>
</head>

<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/personne/liste'}" th:text="#{personne}"></a>
					<th:block th:text="' '+${personne.prenom}+' '+${personne.nom}"></th:block>
				</h1>
			</div>
			<div class="col">
				<a th:href="@{'/personne/modifie/'+${personne.id}}" class="bi-pencil" th:title="#{modifier}"
					aria-hidden="true"></a>
				<a id="supprime" th:href="@{'/personne/supprime/'+${personne.id}}" class="bi-trash"
					th:title="#{supprimer}" style="color:red" aria-hidden="true"></a>
			</div>
		</div>
	</div>
	<div class="container-fluid table-responsive" id="detailPersonne">
		<table class="table table-sm table-bordered">
			<thead>
				<tr>
					<th th:text="#{email}"></th>
					<th th:text="#{adresse}"></th>
					<th th:text="#{login}"></th>
					<th th:text="#{roles}"></th>
					<th th:if="${session.voirInactif}" th:text="#{active}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a th:href="@{'mailto:'+${personne.email}(subject=Ruches,body=${personne.prenom})}"
							th:text="${personne.email}"></a></td>
					<td th:text="${personne.adresse}"></td>
					<td th:text="${personne.login}"></td>
					<td th:text="${personne.roles}"></td>
					<td th:if="${session.voirInactif}" th:text="${personne.active}? #{oui} : #{non}"></td>
				</tr>
			</tbody>
		</table>
		<h6 th:unless="${#arrays.length(ruchers)}" th:text="#{Pasderucher}"></h6>
		<th:block th:if="${#arrays.length(ruchers)}">
			<h6 th:text="#{contactRuchers}"></h6>
			<table class="table table-sm table-bordered table-striped" id="ruchers">
				<thead>
					<tr>
						<th th:text="#{nom}"></th>
						<th th:if="${session.voirInactif}" th:text="#{actif}"></th>
						<th th:text="#{adresse}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="rucher : ${ruchers}">
						<td><a th:href="@{'/rucher/'+${rucher.id}}" th:text="${rucher.nom}"></a></td>
						<td th:if="${session.voirInactif}" th:text="${rucher.actif}? #{oui} : #{non}"></td>
						<td th:text="${rucher.adresse}"></td>
					</tr>
				</tbody>
			</table>
		</th:block>
	</div>
	<br />
	<footer th:replace="~{include::footer}"></footer>
</body>

</html>