<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="include :: common_header(~{::script},~{::style},~{::link})">
	<script th:inline="javascript">
		const Recoltes = /*[[#{Recoltes}]]*/null;
		const buttontextprint = /*[[#{buttontextprint}]]*/null;
		const buttontextcol = /*[[#{buttontextcol}]]*/null;
		$(document).ready(function () {
			const idTbl = '#recoltes';
			new DataTable(idTbl, {
				dom: 'Blftip',
				scrollX: true,
				buttons: ['csv', {
					extend: 'pdf',
					exportOptions: {
						columns: ':visible'
					},
					action: function (e, dt, node, config) {
						config.title = Recoltes + " " + (new Date()).toLocaleDateString();
						const inputSearch = $.trim($(`${idTbl}_filter label input`).val());
						if (inputSearch.length !== 0) {
							config.title += " <" + inputSearch + ">";
						}
						$.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
					}
				}, {
						extend: 'print',
						text: buttontextprint
					}, {
						extend: 'colvis',
						text: buttontextcol
					}],
				"order": [ [0, "desc"] ]
			});
		});
	</script>
</head>

<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:text="#{Recoltes}"></h1>
			</div>
			<div class="col">
				<a id="cree" th:href="@{/recolte/cree}" class="bi-plus-lg" th:title="#{ajouterRecolte}"
					aria-hidden="true"></a> &nbsp; <a th:href="@{/recolte/stat/essaim/false}" class="bi-table"
					th:title="#{statistiquesessaims}" aria-hidden="true"></a> <a th:href="@{/recolte/statprod}"
					class="bi-bar-chart" th:title="#{statistiquesProd}" aria-hidden="true"></a> &nbsp;<a
					th:href="@{#{urldoc}+'1102_1613789997'}" class="bi-book" th:title="#{Doc}" target="_blank"
					aria-hidden="true"></a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<table class="table table-bordered table-striped table-sm" id="recoltes">
			<thead>
				<tr>
					<th th:text="#{date}"></th>
					<th style="background-color: PaleGoldenRod" th:text="#{RucherS}"></th>
					<th th:text="#{typeMiel}"></th>
					<th style="background-color: LemonChiffon" th:text="#{poidsMielPot}"></th>
					<th th:text="#{commentaire}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="recolte : ${recoltes}">
					<td><a th:href="@{'/recolte/'+${recolte.id}}"
							th:text="${#temporals.format(recolte.date, 'yyyy/MM/dd HH:mm')}"></a></td>
					<td>
						<th:block th:each="idn, iterStat : ${ruchers[recolteStat.index]}">
							<a th:href="@{'/rucher/'+${idn.id}}" th:text="${idn.nom}"></a>
							<th:block th:text="${iterStat.last} ? '' :'&nbsp;'"></th:block>
						</th:block>
					</td>
					<td th:text="#{${recolte.typeMiel}}"></td>
					<td class="num" th:text="${#numbers.formatDecimal(recolte.poidsMiel,1,2,'DEFAULT')}"></td>
					<td th:text="${recolte.commentaire}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="include::footer"></footer>
</body>

</html>