<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:replace="include :: jsdatetimepicker"></script>
<link th:replace="include :: cssdatetimepicker"/>
<script th:replace="include :: localejsdatetimepicker"></script>
<script>
	$().ready(function() {
		$("#typeMiel").focus();
		$("#recolteForm").validate({
			rules : {
				date : { 
					'required' : true
				},
				poidsMiel : {
					required : true
				}
			}
		});
	});
</script>
</head>
<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:unless="${recolte.id}" th:text="#{ajouterRecolte}"></h1>
				<h1 class="item" th:if="${recolte.id}">
					<th:block th:text="#{modification}"></th:block>
					<a th:href="@{'/recolte/'+${recolte.id}}"
						th:text="#{recolte} + ' ' + ${#temporals.format(recolte.date, 'yyyy/MM/dd HH:mm')}"></a>
				</h1>
			</div>
		</div>
	</div>
	<form action="#" th:action="@{/recolte/sauve}"
		th:object="${recolte}" method="post" id="recolteForm">
		<input type="hidden" th:field="*{id}" />
		<div class="form-group">
			<label th:text="#{date}" for="date"></label>
			<input class="form-control" type="text" th:field="*{date}"
				th:errorclass="fieldError" />
		</div>
		<div class="form-group">
			<label th:text="#{typeMiel}" for="typeMiel"></label>
			<select class="form-control" th:field="*{typeMiel}">
				<option th:each="type : ${T(ooioo.ruches.recolte.TypeMiel).values()}"
				  th:value="${type}" th:text="#{${type}}">
				</option>
			</select>
		</div>		
		<div class="form-group">
			<label th:text="#{poidsMiel}" for="poidsMiel"></label>
			<input class="form-control" 
				type="number" step="0.001" min="0"
			th:field="*{poidsMiel}"	th:errorclass="fieldError" />
		</div>		
		<div th:insert="includeForm :: commentaireField"></div>
		<div th:insert="includeForm :: BtnForm"></div>
	</form>
	<footer th:replace="include::footer"></footer>
</body>
</html>