<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:inline="javascript">
		const pdsAvSupPdsAp = /*[[#{poidsAvantSupPoidsApres}]]*/ null;
		document.addEventListener('DOMContentLoaded', () => {
			const avant = document.querySelectorAll('input.avant');
			const apres = document.querySelectorAll('input.apres');
			avant[0].focus();
			function validation(event) {
				for (let i = 0; i < avant.length; i++) {
					// Tous les inputs doivent vérifier avant < apres.
					// On peut faire mettre les champs erronés en couleur et aussi
					// faire une validation sur keyup des champs. Voir :
					//  https://developer.mozilla.org/fr/docs/Learn/Forms/Form_validation
					if (parseFloat(avant[i].value) < parseFloat(apres[i].value)) {
						alert(pdsAvSupPdsAp);
						event.preventDefault();
						return;
					}
				}
			}
			const form = document.getElementById('recolteMielForm');
			form.addEventListener('submit', validation);
			// Change la couleur des inputs modifiés.
			const inputs = document.querySelectorAll('input.modif');
			for (const elem of inputs) {
				elem.addEventListener('input', function () {
					// alert(parseFloat(this.dataset.initval) + ' ' + parseFloat(this.value));
					// parseFloat renvoie NaN pour 10. sans partie décimale. Et 10 pour 10,
					if (Math.abs(this.dataset.initval - this.value) > 1e-9) {
						this.classList.add('changed');
					} else {
						this.classList.remove('changed');
					}
				});
			}
		});
	</script>
<style>
.changed {
	background-color: #a67c00;
}

.modif {
	width: 6em;
}

/* Suppression de fleches de changement des poids de miel */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
</style>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/recolte/'+${recolte.id}}"
						th:text="#{recolte} + ' ' + ${#temporals.format(recolte.date, 'yyyy/MM/dd HH:mm')}"></a>
				</h1>
			</div>
		</div>
	</div>
	<form action="#"
		th:action="@{'/recolte/haussesMiel/sauve/'+${recolte.id}}"
		method="post" id="recolteMielForm">
		<table class="table table-sm table-bordered table-striped"
			id="recolteMielTable">
			<thead>
				<tr>
					<th hidden></th>
					<th th:text="#{hausse}"></th>
					<th th:text="#{poidsAv}"></th>
					<th th:text="#{poidsAp}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rHM, itemStat : ${recolteMiel.recolteHaussesMiel}">
					<td hidden><input type="number"
						th:name="|recolteHaussesMiel[${itemStat.index}].recolteHausseId|"
						th:value="${rHM.recolteHausseId}"></td>
					<td th:text="${hausses[itemStat.index].nom}"></td>
					<td><input type="number" class="modif avant"
						th:min="${hausses[itemStat.index].poidsVide}" max="80"
						step="0.001" required="required"
						th:name="|recolteHaussesMiel[${itemStat.index}].poidsAvant|"
						th:value="${rHM.poidsAvant}" th:data-initval="${rHM.poidsAvant}"></td>
					<td><input type="number" class="modif apres"
						th:min="${hausses[itemStat.index].poidsVide}" max="80"
						step="0.001" required="required"
						th:name="|recolteHaussesMiel[${itemStat.index}].poidsApres|"
						th:value="${rHM.poidsApres}" th:data-initval="${rHM.poidsApres}"></td>
				</tr>
			</tbody>
		</table>
		<div th:replace="~{includeForm :: BtnForm}"></div>
	</form>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>