<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
<script th:replace="~{include :: jsruches}"></script>
<script th:replace="~{include :: jsChart}"></script>
<script th:inline="javascript">
	/* exported Chart, Hausses, Pots, HaussesEssaim,
		poidsMielHausses, poidsMielPots, debutAnnee, nbIEssaims */
	const poidsMielHausses = /*[[${poidsMielHausses}]]*/null;
	const poidsMielPots = /*[[${poidsMielPots}]]*/null;
	const debutAnnee = /*[[${debutAnnee}]]*/null;
	const nbIEssaims = /*[[${nbIEssaims}]]*/null;
	const Hausses = /*[[#{Hausses}]]*/null;
	const Pots = /*[[#{Pots}]]*/null;
	const HaussesEssaim = /*[[#{HaussesEssaim}]]*/null;
</script>
</head>
<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col text-center">
				<h1 class="item">
					<a th:href="@{'/recolte/liste'}" th:text="#{Recoltes}"></a>
					<th:block th:text="#{sep}+#{PoidsMielAnneeKg}"></th:block>
					&nbsp; <a th:href="@{#{urldoc}+'3836_3476563104'}" class="bi-book"
						th:title="#{Doc}" target="_blank" aria-hidden="true"></a>
				</h1>
			</div>
		</div>
	</div>
	<canvas id="ctx"></canvas>
	<footer th:replace="~{include::footer}"></footer>
</body>
</html>