<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
	<script th:replace="~{include :: jsruches}"></script>
	<script th:inline="javascript">
		/* exported urlRetrait, urlAjout, recolteId, selHausRet, selHausAjout, DataTable */
		const urlRetrait = /*[[@{/recolte/retraitHausses/}]]*/null;
		const urlAjout = /*[[@{/recolte/ajoutHausses/}]]*/null;
		const recolteId = /*[[${recolte.id}]]*/null;
		const selHausRet = /*[[#{selecthaussesretirer}]]*/null;
		const selHausAjout = /*[[#{selecthaussesajouter}]]*/null;
	</script>
</head>

<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<a th:href="@{'/recolte/'+${recolte.id}}"
						th:text="#{recolte} + ' ' + ${#temporals.format(recolte.date, 'yyyy/MM/dd HH:mm')}"></a>
				</h1>
			</div>
			<div class="col">
				<a th:href="@{#{urldoc}+'3782_3476563104'}" class="bi-book" th:title="#{Doc}" target="_blank"
					aria-hidden="true"></a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<h6>
			<a id="retirerHausses" href="#" th:text="#{retirerHausses}"></a>
		</h6>
		<table class="table table-bordered table-striped table-sm" id="retraitHausseRecolte">
			<thead>
				<tr>
					<th th:text="#{nom}"></th>
					<th hidden></th>
					<th th:text="#{rucher}"></th>
					<th th:text="#{ruche}"></th>
					<th th:text="#{essaim}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="hausseRecolte : ${haussesRecolte}">
					<td th:text="${hausseRecolte.hausse.nom}"></td>
					<td hidden th:text="${hausseRecolte.hausse.id}"></td>
					<td th:text="${hausseRecolte.rucher?.nom}"></td>
					<td th:text="${hausseRecolte.ruche?.nom}"></td>
					<td th:text="${hausseRecolte.essaim?.nom}"></td>
				</tr>
			</tbody>
		</table>
		<br />
		<h6>
			<a id="ajouterHausses" href="#" th:text="#{ajouterHausses}"></a>
		</h6>
		<table class="table table-bordered table-striped table-sm" id="ajoutHausseRecolte">
			<thead>
				<tr>
					<th th:text="#{nom}"></th>
					<th hidden></th>
					<th th:text="#{rucher}"></th>
					<th th:text="#{ruche}"></th>
					<th th:text="#{essaim}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="hausseNotInRecolte : ${haussesNotInRecolte}">
					<td th:text="${hausseNotInRecolte.nom}"></td>
					<td hidden th:text="${hausseNotInRecolte.id}"></td>
					<td th:text="${hausseNotInRecolte.ruche?.rucher?.nom}"></td>
					<td th:text="${hausseNotInRecolte.ruche?.nom}"></td>
					<td th:text="${hausseNotInRecolte.ruche?.essaim?.nom}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="~{include::footer}"></footer>
</body>

</html>