<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
	<script th:replace="~{include :: jsdatetimepicker}"></script>
	<link th:replace="~{include :: cssdatetimepicker}" />
	<script th:replace="~{include :: localejsdatetimepicker}"></script>
	<script th:replace="~{include :: jsruches}"></script>
</head>

<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item" th:unless="${recolte.id}">
					<a th:href="@{'/recolte/liste'}" th:text="#{Recoltes}"></a>
					<th:block th:text="#{sep} + #{Ajout}"></th:block>
				</h1>
				<h1 class="item" th:if="${recolte.id}">
					<a th:href="@{'/recolte/'+${recolte.id}}"
						th:text="#{recolte} + ' ' + ${#temporals.format(recolte.date, 'yyyy/MM/dd HH:mm')}"></a>
					<th:block th:text="#{sep} + #{modification}"></th:block>
				</h1>
			</div>
		</div>
	</div>
	<form action="#" th:action="@{/recolte/sauve}" th:object="${recolte}" method="post" id="recolteForm">
		<input type="hidden" th:field="*{id}" />
		<div class="form-floating mb-3">
			<input class="form-control" type="text" th:field="*{date}" th:errorclass="fieldError" placeholder="" />
			<label class="form-label" th:text="#{date}" for="date"></label>
		</div>
		<div class="form-floating mb-3">
			<select class="form-control" th:field="*{typeMiel}">
				<option th:each="type : ${T(ooioo.ruches.recolte.TypeMiel).values()}" th:value="${type}"
					th:text="#{${type}}"></option>
			</select> <label class="form-label" th:text="#{typeMiel}" for="typeMiel"></label>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" placeholder="" type="number" step="0.001" min="0" th:field="*{poidsMiel}"
				th:errorclass="fieldError" /> <label class="form-label" th:text="#{poidsMiel}" for="poidsMiel"></label>
		</div>
		<div th:replace="~{includeForm :: commentaireField}"></div>
		<div th:replace="~{includeForm :: BtnForm}"></div>
	</form>
	<footer th:replace="~{include::footer}"></footer>
</body>

</html>