<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			new DataTable('#essaims', {
				// Tri par rucher, puis par ruche. Garder les espaces entre les [
				// https://datatables.net/reference/option/order
				// https://datatables.net/reference/option/stateSave
				// Si l'ordre est enregistré par un clic utilisateur, alors order n'est plus appliqué
				stateSave: false,
				order: [ [1, 'asc'], [0, 'asc'] ],
				scrollX: true,
			});
		});
	</script>
</head>

<body>
	<nav th:replace="~{navbar::navbar}"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<th:block th:text="#{Statistiques} + ' '"></th:block>
					<a th:href="@{'/recolte/'+${recolte.id}}"
						th:text="#{recolte} + ' ' + ${#temporals.format(recolte.date, 'yy/MM/dd HH:mm')}"></a>
				</h1>
			</div>
		</div>
	</div>

	<div class="container-fluid table-responsive">
		<table class="table table-sm table-bordered" id="ruchers">
			<thead>
				<tr>
					<th th:text="#{rucher}"></th>
					<th th:text="#{poidsMielHausses}"></th>
					<th th:text="#{MoyenneE}"></th>
					<th th:text="#{EcartTypeE}"></th>
					<th th:text="#{nbEssaims}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="idNom, i : ${ruchers}">
					<td>
						<a th:href="@{'/rucher/'+${idNom.id}}" th:text="${idNom.nom}"></a>
					</td>
					<td class="num" th:text="${#numbers.formatDecimal(poidsRec[i.index],1,2)}"></td>
					<td class="num" th:text="${#numbers.formatDecimal(avgRec[i.index],1,2)}"></td>
					<td class="num" th:text="${#numbers.formatDecimal(stdRec[i.index],1,2)}"></td>
					<td class="num" th:text="${countEssaimsRec[i.index]}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container-fluid table-responsive">
		<table class="table table-sm table-bordered" id="essaims">
			<thead>
				<tr>
					<th th:text="#{essaim}"></th>
					<th th:text="#{rucher}"></th>
					<th th:text="#{poidsMielHausses}"></th>
					<th th:text="#{nbHausses}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="idNom, i : ${essaims}">
					<td>
						<a th:href="@{'/esssaim/'+${idNom.id}}" th:text="${idNom.nom}"></a>
					</td>
					<td th:text="${ruchersX[i.index].nom}"></td>
					
					<td th:text="${poidsEss[i.index]}"></td>
					<td th:text="${countRec[i.index]}"></td>
				</tr>
			</tbody>
		</table>
	</div>


	<footer th:replace="~{include::footer}"></footer>
</body>

</html>