<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{include :: common_header(~{::script},~{::style},~{::link})}">
</head>

<body>
	<nav th:replace="~{navbar::navbar}">Menu</nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
					<th:block th:text="#{histoHausses} + ' '"></th:block>
					<a th:href="@{'/ruche/'+${ruche.id}}" th:text="#{ruche} + ' ' + ${ruche.nom}"></a>
				</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<table class="table table-bordered table-striped table-sm" id="evenements">
			<thead>
				<tr>
					<th th:text="#{date}"></th>
					<th th:text="#{type}"></th>
					<th th:text="#{essaim}"></th>
					<th th:text="#{rucher}"></th>
					<th th:text="#{hausse}"></th>
					<th th:text="#{commentaire}"></th>
					<th th:text="#{etat}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="eve : ${evenements}">
					<td>
						<a th:text="${#temporals.format(eve.date, 'yyyy/MM/dd HH:mm')}"
							th:href="@{'/evenement/'+${eve.id}+'?type=ruche&itemId='+${ruche.id}}"></a>
					</td>
					<td th:text="#{${eve.type}}"></td>
					<td th:text="${eve.essaim?.nom}"></td>
					<td th:text="${eve.rucher?.nom}"></td>
					<td th:text="${eve.hausse?.nom}"></td>
					<td th:text="${eve.commentaire}"></td>
					<td th:text="${haussesList[eveStat.index]}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="~{include::footer}"></footer>
</body>

</html>