<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: common_header(~{::script},~{::style},~{::link})">
<script th:replace="include :: jsdatetimepicker"></script>
<link th:replace="include :: cssdatetimepicker"/>
<script th:replace="include :: localejsdatetimepicker"></script>
<script th:inline="javascript">
	$().ready(function() {
		$("#valeur").focus();
		$("#evenementForm").validate({
			rules : {
				date : {
					required : true
				},
				valeur : {
					digits : true,
					maxlength : 2
				},
				commentaire : {
					maxlength : 255
				}
			}
		});
	});
</script>
</head>
<body>
	<nav th:replace="include :: navbar"></nav>
	<br />
	<br />
	<br />
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="item">
				<th:block th:text="#{nbCadres} + ' '"></th:block>
				<a th:href="@{'/essaim/'+${ruche.essaim.id}}"
					th:text="#{essaim} + ' ' + ${ruche.essaim.nom}"></a>
				</h1>
				<th:block th:text="${valeurRUCHECADRE}?${valeurRUCHECADRE}+ ' ' + #{cadresLe} + ' ' + ${#temporals.format(dateRUCHECADRE, 'dd/MM/yyyy')}:''">
				</th:block>
        	</div>
        </div>
    </div>
	<form action="#" th:action="@{'/evenement/essaim/sauve/'+${ruche.essaim.id}}"
		method="post" id="evenementForm">
		<input type="hidden" id="typeEvenement" name="typeEvenement" value="RUCHECADRE"/>
		<div th:replace="includeForm :: date"></div>
		<div class="form-floating mb-3">
			<input placeholder="" class="form-control" type="text" id="valeur" name="valeur"/>
			<label class="form-label" th:text="#{nbCadres}+' ('+${ruche.type.nbCadresMax}+'max)'" for="valeur"></label>
  		</div>
		<div th:replace="includeForm :: commentaire"></div>
		<small id="textHelp" class="form-text text-muted" th:text="#{evenruchercadreaide}"></small><br/>
		<div th:replace="includeForm :: BtnForm"></div>
	</form>
	<footer th:include="include::footer"></footer>
</body>
</html>